body{
	width:90%;
	margin:0px auto;
}

#loginDiv form{
	margin-left:20px;
}

#detailDiv{
	padding-left: 20px;
}

#modifyForm{
	margin:0px 20px;
	
}


input.inputclass{width:260px;}

