<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.weibo.mapper.UserInfoMapper">
	<resultMap id="checkUserByName" type="com.yc.ssm.weibo.entity.UserInfo">
		<id column="USERID" property="userid" jdbcType="VARCHAR" />
		<result column="UPWD" property="upwd" jdbcType="VARCHAR" />
		<result column="REGISTER_TIME" property="registerTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		USERID, UPWD, REGISTER_TIME
	</sql>

	

	<insert id="insert" parameterType="UserInfo">
		insert into UserInfo (USERID, UPWD,
		REGISTER_TIME)
		values (#{userid,jdbcType=VARCHAR}, #{upwd,jdbcType=VARCHAR},
		default)
	</insert>

	<select id="findUser" resultMap="BaseResultMap" parameterType="String">
		select
		<include refid="Base_Column_List" />
		from UserInfo
		where USERID = #{userid,jdbcType=VARCHAR}
		and UPWD=#{upwd,jdbcType=VARCHAR}
	</select>
</mapper>