<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.weibo.mapper.WeiboMapper">
	<insert id="insertWeibo" parameterType="Weibo">
		insert into weibo(wid,wuserid,wNote) values (wid_seq.nextval,'${wuserid}','${wNote}')
	</insert>

	<select id="findById" resultType="Weibo">
		select * from Weibo where wid = #{wid}
	</select>

	<update id="updateStatus" parameterType="Weibo">
		update weibo set wstatus= #{wstatus} where wid = #{wid}
	</update>
	
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result column="pageSize" property="pageSize"/>
		<result column="currPage" property="currPage"/>
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,wstatus=wstatus}" ofType="Weibo"
			select="getWeibo" />
	</resultMap>
	
	<select id="listAll" parameterType="string" resultMap="PaginationBeanMap">
		select count(1) total, ceil(count(1)/${pageSize}) totalPage, ${pageSize} pageSize, ${currPage} currPage, ${wstatus} wstatus from weibo where wstatus=${wstatus}
	</select>
	<select id="getWeibo" resultMap="WeiboMap">
		select t.* from (select n.* ,rownum rn from (select * from weibo w,userDetail u 
		where w.wstatus=${wstatus} and w.wuserid = u.userid order by 1 ) n 
		where ${currPage} * ${pageSize} >=rownum) t
		where rn > (${currPage} - 1) * ${pageSize}
	</select>
	
	<resultMap type="Weibo" id="WeiboMap">
		<id column="wid" property="wid" />
		<result column="wuserid" property="wuserid" /><!--column为取到的值的名字 property为类中的名称 -->
		<result column="wtime" property="wtime" />
		<result column="wNote" property="wNote" />
		<result column="wpic" property="wpic" />
		<result column="zanNum" property="zanNum" />
		<result column="transmitNum" property="transmitNum" />
		<result column="commentNum" property="commentNum" />
		<result column="wstatus" property="wstatus" />
		<association property="userDetail" javaType="UserDetail">
			<id column="userDetailId" property="userDetailId" />
			<result column="nickname" property="nickname" />
			<result column="head_picture" property="head_picture"/>
		</association>
	</resultMap>
	
	<select id="findNum" parameterType="string" resultType="string">
		select count(1) from weibo where wuserid=#{userid} 
	</select>
	
	<select id="findAttentionWeibo" parameterType="string" resultMap="findFriendMap">
		SELECT count(1) total, ceil(count(1) /${pageSize}) totalPage,
		${pageSize} pageSize,${currPage} currPage
		<if test="fuserida!=null">
			,'${fuserida}' fuserida
		</if>
		<if test="fuserida==null">
			,'' fuserida
		</if> FROM weibo 
		WHERE wuserid IN (SELECT DISTINCT fuseridb FROM follow WHERE fuserida='${fuserida}') 
		OR wuserid IN (SELECT DISTINCT '${fuserida}' fuserida FROM follow)
	</select>
	
	<resultMap type="PaginationBean" id="findFriendMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,fuserida=fuserida}"
			select="getfriendweibo" />
	</resultMap>
		<select id="getfriendweibo" resultMap="WeiboMap">
		 select t.* from (select n.* ,rownum rn from (SELECT * FROM weibo w,userDetail u 
 		 WHERE w.wstatus = 0 and w.wuserid = u.userid and (w.wuserid IN 
		(SELECT DISTINCT fuseridb FROM follow WHERE fuserida='${fuserida}') 
		OR wuserid IN (SELECT DISTINCT '${fuserida}' fuserida FROM follow)) order by w.wid desc) n 
		where ${currPage} * ${pageSize} >=rownum) t
		where rn > (${currPage} - 1) * ${pageSize}
	</select>
	
	<resultMap type="PaginationBean" id="PaPaginationBeanMap">
		<result column="pageSize" property="pageSize" />
		<result column="currPage" property="currPage" />
		<collection property="rows"
			column="{pageSize=pageSize,currPage=currPage,wuserid=wuserid}"
			select="getOwnWeibo" />
	</resultMap>
	<select id="findWeiboByid" parameterType="string" resultMap="PaPaginationBeanMap">
		select count(1) total, ceil(count(1)/${pageSize}) totalPage, ${pageSize} pageSize, ${currPage} currPage ,'${wuserid}' wuserid from weibo where wuserid='${wuserid}'
	</select>
	<select id="getOwnWeibo" resultMap="WeiboMap">
		select t.* from (select n.* ,rownum rn from (select * from weibo w,userDetail u 
		where wstatus = 0 and w.wuserid = u.userid and wuserid='${wuserid}' order by 1 ) n 
		where ${currPage} * ${pageSize} >=rownum) t
		where rn > (${currPage} - 1) * ${pageSize}
	</select>
	
	
</mapper>
