<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.weibo.mapper.ZanMapper">
	<insert id="insertZan" parameterType="Zan">
		INSERT INTO zan(zid,zuseriA,zwid) VALUES (zid_seq.nextval,#{zuseriA,jdbcType=VARCHAR},#{zwid,jdbcType=INTEGER})
	</insert>
	
	<select id="listZan" parameterType="string" resultType="Zan" >
		select * from zan where zuseriA=#{zuseriA}
	</select>
</mapper>