@charset "utf-8";
/* CSS Document */
/*头部开始*/
*{
	padding:0px;
	margin:0px auto;
	
}
a{
	text-decoration: none;
}
body{
	background: url(../images/body_bg.jpg) no-repeat;
	overflow:scroll;
}
.top{
	width:845px;
	height: 40px;
	text-align: center;
	margin-top: 50px;
}
.top .top1{
	width: 80px;
	height: 27px;
	background: url(../images/WB_logo.png) no-repeat;
	float: left;
}
.top .top2{
	width: 170px;
	height: 14px;
	float: right;
	margin: 15px -10px 0px 0px;
}
.top .top2 a{
	 height: 11px;
	 line-height: 11px;
	 display: block;
	 float: left;
	 margin-right: 11px;
	 padding-left: 11px;
	 font-size: 12px;
	 color: #333;
	 border-left: 1px solid #A0A0A3;
}
.top .top2 .top2_1{
	border-left: none;
}
.content{
	width: 845px;
	height: 410px;
	background: #fff;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-top: 2px solid #FA7D3C;
}
.content .content1{
	width: 100%;
	height: 89px;
	line-height: 89px;
	border: 1px solid #F2F2F5;
}
.content .content1 h3{
	font-size:22px ;
	font-weight: normal;
	color: #333;
}
.content .content2{
	width: 845px;
	height: 320px;
	background: #FAFAFA;
}

.content .content2 .content2_1{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 70px;
	position: relative;
}
.content .content2 .content2_1 .content2_11{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	float: left;
	margin-left: 260px;
}
.content .content2 .content2_1 input{
	width: 200px;
	height: 33px;
	padding-left: 3px;
	border: none;
	border: 1px solid #ccc;
	font-size: 11px;
	color: #8f809f;
	float: left;
	margin-left: 10px;
}
.content .content2 .content2_1 #deng1,.content .content2 .content2_1 #deng2,.content .content2 .content2_1 #deng3,.content .content2 .content2_1 #deng4,.content .content2 .content2_1 #deng5{
	width: 260px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 15px;
	font-size: 12px;
	color: #333;
	text-align: left;
	top:7px;
	left: 540px;
	background: url(../images/redtanhao.png) no-repeat;
	display: inline-block;
}
.content .content2 .content2_2{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 10px;
	position: relative;
}
.content .content2 .content2_2 .content2_21{
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	float: left;
	margin-left: 260px;
}
.content .content2 .content2_2 input{
	width: 93px;
	height: 33px;
	padding-left: 3px;
	border: none;
	border: 1px solid #ccc;
	font-size: 11px;
	color: #8f809f;
	float: left;
	margin-left: 10px;
}
.content .content2 .content2_2 img{
	height: 30px;
	width: 80px;
	display:block;
	float: left;
	margin-left:20px;
}
.content .content2 .content2_2  #huanyihuan{
	height: 30px;
	width: 80px;
	display:block;
	float: left;
	margin-top:10px;
	font-size: 12px;
	color: #60C1FA;
	cursor: pointer;
}
.content .content2 .content2_2 #huan1,.content .content2 .content2_2 #huan2{
	width: 200px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	text-align: left;
	color: #333;
	font-size: 12px;
	top:8px;
	left: 580px;
	background: url(../images/redtanhao.png) no-repeat;
	display: inline-block;
}
.content .content2 .content2_3{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 10px;
}
.content .content2 .content2_3 a{
	width: 200px;
	height: 37px;
	background: #F7641A;
	font-size: 14px;
	color: #fff;
	float: left;
	margin-left: 317px;
	line-height:37px;
	opacity: 0.8;
	cursor: pointer;
}
.content .content2 .content2_3 a:hover{
	opacity: 1;
}
.buttom{
	width: 100%;
	height: 100px;
	background: #F2F2F5;
	margin-top: 99px;
	text-align: center;
	border-top: 1px solid #CCCCCC;
}

.buttom .buttom1{
	width: 700px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	float: left;
	margin:20px 0px 0px 320px;
}
.buttom .buttom1 a{
	color: #000;
	margin: 0px 13px;
}
.buttom .buttom1 a:hover{
	color: #F7641A;
}
.buttom .buttom2{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	float: left;
	margin-top:3px ;
}
.buttom .buttom2 a{
	color: #808080;
}
.buttom .buttom2 a:hover{
	color: #F7641A;
}
.buttom .buttom3{
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	float: left;
	margin-top:3px ;
}
.buttom .buttom3 span{
	color: #808080;
	margin: 0px 13px;
}
.buttom .buttom3 a{
	color: #808080;
	margin: 0px 13px;
}
.buttom .buttom3 a:hover{
	color: #F7641A;
}