*{
	padding:0px;
	margin:0px auto;
	
}
a{
	text-decoration: none;
}
body{
	background: url(../images/reg_repeat_bg.png) repeat-x;
}

#logo{
	width: 900px;
	height: 185px;
	background: url(../images/bg_reg_wave.png) no-repeat;
	text-align: center;
}
#logo img{
	margin-top:40px ;	
}
#content{
	width:900px ;
	height: 555px;
	border-radius: 5px;
	background: #fff;
}
#content #con1{
	width: 900px;
	height: 36px;
	padding: 24px 0px 22px 40px;
}
#content #con1 a{
	width: 88px;
	height: 33px;
	font-size: 25px;
	color: #333;
}
#content #con1 #cont2{
	border-bottom:3px solid #FFA00A ;
}
#content #con1 span{
	color: #ADA7A7;
	margin: 0px 15px;
}
#content #con2 a{
	color: #0AA6E3;
	font-size: 12px;
}

#content #con2 a:hover{
	text-decoration: underline;
}
#content #con2>p{
	height: 20px;
	margin-left: 35px;
	font-size: 12px;
}
#content #con2>span{
	height: 20px;
	margin-left: 35px;
	font-size: 12px;
	color: red;
}
#content form{
	width: 600px;
	margin:29px 0px 0px 20px ;
	float: left;
}
#content form span{
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	display: inline-block;
}
#content form span i{
	margin-right:10px ;
	color: red;
}
#content form #span1{
	width: 90px;
	padding-left: 70px;
	line-height: 25px;
	
}

#content form #span1 #spani{
	margin-top: 10px;
	height: 23px;
	padding-left: 30px;
	background: url(../images/reg_method_s.png) no-repeat 0px -23px;
	display: inline-block;
}
#content form #span1 #spani2{
	margin-top: 10px;
	height: 23px;
	padding-left: 30px;
	background: url(../images/reg_method_s.png) no-repeat;
	display: inline-block;
}
#content form p{
	height: 30px;
	margin-left: 170px;
	cursor: pointer;
}

#content form #span2{
	width: 86px;
	padding-left: 74px;
}
#content form #span3{
	width: 74px;
	padding-left: 86px;
}
#content form #span4{
	width: 125px;
	padding-left: 35px;
}
#content form #span5{
	width: 74px;
	padding-left: 86px;
}

#content form #shoujidiv{
	width: 600px;
	height: 46px;
	float: left;
	position: relative;
	
}
#content form #shoujits1,#content form #shoujits2,#content form #shoujits3,#content form #shoujits4{
	width: 198px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	color: #808080;
	top:12px;
	left: 380px;
	background: url(../images/tanhao.png) no-repeat;
	display: inline-block;
}
#content form #shoujits2,#content form #shoujits3{
	background: url(../images/chahao.png) no-repeat;
	color: red;
}
#content form #shoujits4{
	background: url(../images/gouhao.png) no-repeat;
}
#content form #shouji,#content form #e-mail{
	width: 193px;
	height: 30px;
	margin: 7px 7px;
	padding-left: 5px;

}
#content form #youxiangdiv{
	width: 600px;
	height: 46px;
	float: left;
	position: relative;
	margin-top: 0px;
}
#content form #youxiangts1,#content form #youxiangts2,#content form #youxiangts3,#content form #youxiangts3{
	width: 198px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	color: #808080;
	top:12px;
	left: 380px;
	background: url(../images/tanhao.png) no-repeat;
	display: inline-block;
}
#content form #youxiangts2,#content form #youxiangts3{
	background: url(../images/chahao.png) no-repeat;
	color: red;
}
#content form #youxiangts4{
	background: url(../images/gouhao.png) no-repeat;
}
#content form #mimadiv,#content form #mimaddiv{
	width: 600px;
	height: 46px;
	float: left;
	position: relative;
	margin-top: 20px;
}
#content form #pwd,#content form #pwdd{
	width: 193px;
	height: 30px;
	margin: 7px 7px;
	padding-left: 5px;
}

.color1{
	border: 1px solid #ccc;
}
.color2{
	border: 1px solid #ffb941;
}

#content form #mimats1,#content form #mimats2,#content form #mimats3,#content form #mimats4,#content form #mimats5,#content form #mimats6,#content form #mimadts1,#content form #mimadts2,#content form #mimadts3,#content form #mimadts4,#content form #mimadts5,#content form #mimadts6{
	width: 198px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	color: #808080;
	top:12px;
	left: 380px;
	background: url(../images/tanhao.png) no-repeat;
	display: inline-block;
}
#content form #mimats2,#content form #mimadts2,#content form #mimats3,#content form #mimadts3{
	background: url(../images/chahao.png) no-repeat;
	color: red;
}
#content form #mimats5,#content form #mimats4,#content form #mimadts5,#content form #mimadts4,,#content form #mimats6,#content form #mimadts6{
	background: none;
}
.sp1{
	color:red;
}
.sp2{
	color: #36B4EC;
}
.sp3{
	color: #4BB900;
}
#content form #unamediv,#content form #unameddiv{
	width: 600px;
	height: 46px;
	float: left;
	position: relative;
	margin-top: 2px;
}
#content form #uname,#content form #unamed{
	width: 193px;
	height: 30px;
	margin: 7px 7px;
	padding-left: 5px;
}
#content form #uname1,#content form #uname2,#content form #uname3,#content form #uname4,#content form #uname5,#content form #unamed1,#content form #unamed2,#content form #unamed3,#content form #unamed4,#content form #unamed5{
	width: 198px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	color: #808080;
	top:12px;
	left: 380px;
	background: url(../images/tanhao.png) no-repeat;
	display: inline-block;
}
#content form #uname2,#content form #unamed2,#content form #uname3,#content form #unamed3,#content form #uname4,#content form #unamed4{
	background: url(../images/chahao.png) no-repeat;
	color: red;
}
#content form #uname5,#content form #unamed5{
	background: none;
}
#content form #jihuoma{
	width: 128px;
	height: 33px;
	font-size: 12px;
	margin: 5px 5px;
}
#content form #jihuoma:hover{
	background: #ffa00a;
	border:none;
	color: white;
	border-radius:5px;
}
#content form #jihuo{
	width: 53px;
	height: 30px;
	margin: 7px 5px;
	padding-left: 5px;
}
#content form #yanzhengmadiv{
	width: 600px;
	height: 46px;
	float: left;
	position: relative;
	margin-top:0px;
}
#content form #yanzhengma{
	width: 63px;
	height: 30px;
	margin: 7px 5px;
	padding-left: 5px;
}
#content form #yanzheng{
	height: 40px;
	width: 80px;
	display: inline-block;
	position: relative;
	top: 10px;
}
#content form #yanzhengmats1,#content form #yanzhengmats2,#content form #yanzhengmats3{
	width: 150px;
	height: 20px;
	float: left;
	padding-left: 25px;
	position: absolute;
	line-height: 20px;
	color: #808080;
	top:14px;
	left: 430px;
	background: url(../images/tanhao.png) no-repeat;
	display: inline-block;
}
#content form #yanzhengmats2{
	background: url(../images/chahao.png) no-repeat;
	color: red;
}
#content form #yanzhengmats3{
	background: url(../images/gouhao.png) no-repeat;
}
#content form #huanyihuan{
	height: 30px;
	margin: 5px 5px 5px 50px;
	cursor: pointer;
}
#content form #sub,#content form #sub2{
	width:202px;
	height: 40px;
	margin: 25px 5px 7px 165px;
	background: #ffa00a;
	border:none;
	font-size: 16px;
	font-weight:bold;
	color: white;
	border-radius:5px;
}
#content form #sub:hover,#content form #sub2:hover{
	opacity:0.9 ;
	border-radius:5px;
}
#content form>a{
	height: 30px;
	margin: 5px 5px 5px 165px;
}
#content form select{
	
	margin-left: 7px ;
}
#content #con2>img{
	width: 1px;
	height: 400px;
	float: left;
	margin: 0px 10px;
}
#content #con3 {
	width: 210px;
	float: right;
	margin: 30px 30px 0px 0px;
	font-size: 13px;
	line-height: 27px;
}
#content #con3 #cont3{
	padding-bottom: 6px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 14px;
}
#content #con2 #con3 ul li{
	width: 210px;
	list-style: none;
}
#content #con2 #con3 ul li i{
	display: block;
	width: 15px;
	height: 18px;
	background: url(../images/bg_listNum.png) no-repeat;
	color: #fff;
	float: left;
	margin-top: 7px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
}
#content #con2 #con3 ul li a{
	width: 175px;
	margin-left:10px ;
	float: left;
}
#content #con2 #con3 #cont5{
	margin: 16px 0px 0px 25px;
}
#footer{
	width: 900px;
	height: 50px;
	line-height: 50px;
}
#footer span{
	float: left;
	font-size: 12px;
	color: #6E9AB8;
}
#footer i{
	float: left;
	margin-left:190px ;
	font-size: 12px;
	color: #6E9AB8;
}
#footer select{
	width: 90px;
	margin-left: 15px;
}
