@font-face{
	font-family:'wbficon';
	src:url(../woff/wbficon.woff),url(../woff/wbficon.woff) format('woff');
}
*{
	padding:0px;
	margin:0px auto;
}
body{
	width:100%;
	height:1770px;
	background:url(../images/body_bg.jpg) no-repeat;
	background-size:auto;
	overflow:scroll;
	background-color:#B4DAF0;
	position: relative;
}

a{
	text-decoration: none;
}
.color1{
	color: #CCCCCC;
}
.color2{
	color: #333;
}
.color3{
	color: #EB7350;
}
.border1{
	border: 1px solid #ccc;
}
.border2{
	border: 1px solid #EB7350;
}
.contstyle1{
	font-weight: 200;
	border-bottom: none;
}
.contstyle2{
	font-weight: bold;
	border-bottom: 2px solid #F66315;
}
.contstyle3{
	font-weight: 200;
	border-bottom: none;
	background: #F2F2F5;
}
.contstyle4{
	font-weight: bold;
	border-bottom: 2px solid #F66315;
	background: #FFFFFF;
}
/*头部开始*/
#head{
	width:100%;
	height:48px;
	border-top:2px solid #FA7D3C;
	background:#F6FBFD;
	position:fixed;
	opacity:0.97;
	z-index:900;
}
.head_logo{
	width:140px;
	height:48px;
	margin-left:35px;
}
.head_logo img{
	position:relative;
	top:10px;
	left:30px;
}
.head_search input{
	width:460px;
	height:30px;
	padding-left:10px;
	border:none;
	position:absolute;
	left:174px;
	top:10px;
	border:solid 1px #ccc;
	background:#F2F2F5;
}
.head_search .search_icon{
	font-family:'wbficon';
	position:absolute;
	left:615px;
	top:16px;
	font-size:20px;
}
.head_search .search_icon:hover{
	color:#FA7D3C;
}
/*搜索隐藏的部分*/
.head_search .search_contant{
	width:471px;
	background:#fff;
	float:left;
    margin-left:175px;
	margin-top:-32px;
}
.head_search .search_contant ul li{
	list-style:none;
	font-size:14px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
.head_search .search_contant ul li a{
	text-decoration:none;
	color:#333;
}
.head_position{
	width:578px;
	height:48px;
	position:absolute;
	top:2px;
	left:725px;
}
.head_position .head_nav li{
	list-style:none;
	float:left;
	line-height:48px;
	font-family:'wbficon';
	font-size:24px;
	margin-left:25px;	
}
.head_position .head_nav li a{
	text-decoration:none;
	color:#696E78;
}
.head_position .head_nav li a:hover{
	color:#FA7D3C;
}
.head_position .head_nav li.head_nav_li1 a{
	color:#FA7D3C;
}
.head_set{
	float:right;
	height:28px;
	border-left:1px solid #D9D9D9;
	position:absolute;
	top:10px;
	left:420px;
}
.head_set .head_set_line{
	float:left;
	font-family:'wbficon';
	font-size:24px;
	margin-left:25px;	
}
.head_set .head_set_line a{
	text-decoration:none;
	color:#696E78;
}
.head_set .head_set_line a:hover{
	color:#FA7D3C;
}
.head_set .head_set_line a.set_line3{
	width:24px;
	height:22px;
	color:#fff;
	border-radius:2px;
	padding-left:2px;
	padding-top:2px;
	background:#F76E25;
}
/*隐藏信息*/
.head_set .hideinfo1{
	width:130px;
	background:#fff;
	position:relative;
	top:38px;
	left:-70px;
	display:none;
}
.head_set .hideinfo1 em.line_bg1{ 
    height: 0;
	width: 0;
	border-style: solid;
    border-width: 7px;
	border-color:#fff;
    display: inline-block;
    vertical-align: top;
	border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
	margin-top:-42px;
	margin-left:90px;
}
.head_set .hideinfo1 ul{
	position:relative;
	top:-43px;
	height:175px;
}
.head_set .hideinfo1 li{
	list-style:none;
	line-height:30px;
	padding-left:10px;
}
.head_set .hideinfo1 li.hideinfoli2,li.hideinfoli6{
	border-bottom:1px solid #ccc;
}
.head_set .hideinfo1 li.hideinfoli7{
	text-align:center;
}
.head_set .hideinfo1 li a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}
.head_set .hideinfo1 li a:hover{
	color:#FA7D3C;
}
.head_set .hideinfo2{
	width:100px;
	background:#fff;
	position:relative;
	top:38px;
	left:50px;
	display:none;
	border-radius:2px;
}
.head_set .hideinfo2 em.line_bg2{ 
    height: 0;
	width: 0;
	border-style: solid;
    border-width: 7px;
	border-color:#FFF;
    display: inline-block;
    vertical-align: top;
	border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
	margin-top:-42px;
	margin-left:2px;
}
.head_set .hideinfo2 ul{
	position:relative;
	top:-50px;
	height:193px;
}
.head_set .hideinfo2 li{
	list-style:none;
	line-height:30px;
	padding-left:10px;
}
.head_set .hideinfo2 li.hideinfo27{
	border-bottom:1px solid #ccc;
}
.head_set .hideinfo2 li.hideinfo28{
	text-align:center;
}
.head_set .hideinfo2 li a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}
.head_set .hideinfo2 li a:hover{
	color:#FA7D3C;
}
.hideinfo3{
	height:26px;
	display:none;
	line-height:26px;
	color:#333;
	position:absolute;
	top:34px;
	right:-50px;
	background:#f6f6f6;
	border:1px solid #333;
	font-size:14px;
}
/*头部结束*/

/*右上角一个背景图片*/
.right_top_icon{
	width:40px;
	height:40px;
	position:absolute;
	right:0px;
	top:50px;
	z-index:3988;
	position: fixed;
}
.right_top_icon a{
	position:absolute;
	z-index:3988;
	width:40px;
	height:40px;
	display:block;
	text-decoration:none;
	background:url(../images/icon.png) no-repeat -153px -200px;
	transition:2s;
}
.right_top_icon a:hover{
	width:42px;
	height:42px;
	background:url(../images/icon.png) no-repeat -153px -276px;
}

#content{
	width: 920px;
	height: 1500px;
	background: none;
	float: left;
	margin: 68px 0px 0px 215px;
}
#content .contenttop{
	width: 920px;
	height: 300px;
	background: url(../images/008.jpg) no-repeat ;
}

#content .conttop1_1 a{
	display: block;
	width: 108px;
	height: 108px;
	border-radius: 50%;
	background:rgba(226,196,149,0.4);
	opacity: 1;
	z-index: 2;
	float: left;
	margin: 50px 0px 0px 400px;
}
#content .conttop1_1 a:hover{
	background:rgba(231,137,60,0.6);
}
#content .conttop1_1 a img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 4px 0px 0px 4px;
}
#content .conttop1_2{
	display: block;
	width: 150px;
	float: left;
	margin:5px 0px 0px 400px ;
}
#content .conttop1_2 span{
	font-size: 25px;
	color: white;
}
#content .conttop1_2 i{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/icon.png) no-repeat -124px -50px;
	float: left;
	margin:-23px 0px 0px 90px ;
}
#content .conttop1_3{
	float: left;
	margin:10px 350px;
	font-size: 12px;
}
#content .conttop1_3 a{
	float: left;
	
	color:white;
}
#content .conttop2{
	width: 920px;
	height: 40px;
	float: left;
	background: #fff;
	border: 1px solid #90B7CE;
	border-top: none;
	margin-left: -1px;
}
#content .conttop2 a{
	float: left;
	width: 70px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
#content .conttop2 a:hover{
	border-bottom: 2px solid #F66315;
}
#content .conttop2 #conttop2_1{
	margin-left: 250px;
}
#content .conttop2 #conttop2_2{
	margin-left: 100px;
}
#content .conttop2 #conttop2_3{
	margin-left: 100px;
}
#content .contentleft{
	width: 300px;
	height: 800px;
	float: left;
}
#content .contentleft .contleft1{
	width: 300px;
	height: 60px;
	float: left;
	margin-top: 15px;
	background: white;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	cursor:pointer;
}
#content .contentleft .contleft1 .contleft1_1,#content .contentleft .contleft1 .contleft1_2,#content .contentleft .contleft1 .contleft1_3{
	width:99px ;
	height: 40px;
	float: left;
	text-align: center;
	margin-top: 10px;
	border-right: 1px solid #D9D9D9;
}
#content .contentleft .contleft1 .contleft1_3{
	border-right: none;
}
#content .contentleft .contleft1  a{
	font-size: 13px;
	color: #808080;
}
#content .contentleft .contleft1  a p{
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
#content .contentleft .contleft1  a p:hover{
	color:#F3702B;
}
#content .contentleft .contleft2{
	width: 300px;
	height: 156px;
	float: left;
	margin-top: 15px;
	background: white;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
#content .contentleft .contleft2 .contleft2_1{
	width:300px ;
	height: 60px;
	float: left;
	border-bottom: 1px solid #F2F2F5;
}
#content .contentleft .contleft2 .contleft2_11{
	width:79px ;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	margin: 15px 0px;
	border-right: 1px solid #D9D9D9;
}
#content .contentleft .contleft2  a{
	font-size: 12px;
	color: #333;
}
#content .contentleft .contleft2  a:hover{
	color: #ED856B;
}
#content .contentleft .contleft2 .contleft2_12{
	width: 50px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-top: 25px;
}
#content .contentleft .contleft2 .contleft2_12 a{
	display: block;
	width: 30px;
	height: 15px;
	line-height: 13px;
	font-size: 12px;
	text-align:center;
	color: #fff;
	background: #FFB400;
	border: 1px soid #fff;
	border-radius: 7px;
}
#content .contentleft .contleft2 .contleft2_2{
	width:300px ;
	height: 60px;
	float: left;
	border-bottom: 1px solid #D9D9D9;
}
#content .contentleft .contleft2 .contleft2_2 p{
	float: left;
	height: 12px;
	line-height: 20px;
	margin: 20px 0px 10px 15px;
	font-size: 12px;
	color: #333;
	position: relative;
}
#content .contentleft .contleft2 .contleft2_2 p>i{
	position: absolute;
	left: 90px;
	font-size: 18px;
	color: #333;
	font-weight: bold;
}
#content .contentleft .contleft2 .contleft2_2 .contleft2_21{
	float: left;
	width: 270px;
	height: 4px;
	line-height: 20px;
	margin: 0px 0px 10px 15px;
	border-radius: 2px;
}
#content .contentleft .contleft2 .contleft2_2 .contleft2_21 .contleft2_211{
	width: 55%;
	height: 100%;
	background: #F66315;
	float: left;
}
#content .contentleft .contleft2 .contleft2_2 .contleft2_21 .contleft2_212{
	width: 45%;
	height: 100%;
	background: #D9D9D9;
	float: left;
}
#content .contentleft .contleft2 .contleft2_3{
	float: left;
	margin: 6px 100px;
	height: 40px;
	line-height: 20px;
}
/*赞*/
#content .contentleft .contleft3{
	width: 300px;
	height: 181px;
	float: left;
	margin-top: 15px;
	background: white;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
#content .contentleft .contleft3 .contleft3_1{
	width:300px ;
	height: 40px;
	float: left;
	border-bottom: 1px solid #F2F2F5;
}
#content .contentleft .contleft3 .contleft3_1 p{
	width: 20px;
	height: 20px;
	float: left;
	margin: 10px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
#content .contentleft .contleft3 .contleft3_2{
	width:288px ;
	height: 92px;
	float: left;
	margin: 6px;
	background: #F2F2F5;
	position: relative;
}
#content .contentleft .contleft3 a{
	color: #333;
	cursor: pointer;
	font-size: 12px;
}
#content .contentleft .contleft3  a:hover{
	color: #EB7350;
}
#content .contentleft .contleft3 .contleft3_2 .contleft3_21 img{
	width: 92px;
	height: 92px;
	float: left;
}
#content .contentleft .contleft3 .contleft3_2 .contleft3_22{
	float: left;
	margin: 6px;
	font-weight: bold;
	font-size: 14px;
}
#content .contentleft .contleft3 .contleft3_2 .contleft3_23{
	float: left;
	margin-top: 9px;
	display: block;
	width: 15px ;
	height: 15px;
	background: url(../images/icon.png) no-repeat 0px -50px;
	font-size: 14px;
}
#content .contentleft .contleft3 .contleft3_2 .contleft3_24{
	position: absolute;
	top: 28px;
	left: 100px;
}
#content .contentleft .contleft3 .contleft3_3{
	width: 180px;
	height: 40px;
	float: left;
	line-height: 30px;
	padding-left:120px ;
	border-top: 1px solid #D9D9D9;
}
/*粉丝群*/
#content .contentleft .contleft5{
	width: 300px;
	height: 60px;
	float: left;
	margin-top: 15px;
	background: white;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
#content .contentleft .contleft5 .contleft5_1{
	float: left;
	margin: 15px;
}
#content .contentleft .contleft5 .contleft5_2{
	height: 60px;
	line-height: 60px;
	color: #333;
	font-size: 13px;
	float: left;
	cursor: pointer;
}
#content .contentleft .contleft5 .contleft5_2:hover{
	color: #FA7D3C;
}

/*我的微博人气*/
#content .contentleft .contleft4{
	width: 300px;
	float: left;
	margin-top: 15px;
	background: white;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
}
#content .contentleft .contleft4 .contleft4_1{
	width:300px ;
	height: 40px;
	float: left;
	border-bottom: 1px solid #F2F2F5;
}
#content .contentleft .contleft4 .contleft4_1 p{
	width: 100%;
	height: 20px;
	float: left;
	margin: 10px 15px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
#content .contentleft .contleft4 .contleft4_2{
	width:300px ;
	height: 105px;
	float: left;
}
#content .contentleft .contleft4 .contleft4_2 p{
	width: 50px;
	height: 50px;
	float: left;
	margin: 20px 125px;
	background: url(../images/icon.png) no-repeat -370px -100px;
}
#content .contentleft .contleft4 .contleft4_2 span{
	float: left;
	margin: -15px 35px;
	font-size: 13px;
	color: #333;
}
#content .contentleft .contleft4 .contleft4_3{
	width: 300px;
	height: 300px;
	float: left;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_31{
	width: 180px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin:5px 0px 0px 59px;
	border: 1px solid #ccc;
	cursor: pointer;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_31 #contleft4_31_1,#content .contentleft .contleft4 .contleft4_3 .contleft4_31 #contleft4_31_2{
	width: 89px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	font-size: 13px;
	display: inline-block;
	float: left;
}

#content .contentleft .contleft4 .contleft4_3 .contleft4_31 #contleft4_31_1{
	border-right: 1px solid #ccc;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_31 #contleft4_31_1:hover{
	font-weight: bold;
	color: #F6681C;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_31 #contleft4_31_2:hover{
	font-weight: bold;
	color: #F6681C;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32{
	width: 268px;
	height: 240px;
	float: left;
	margin:5px 15px;
	border: 1px solid #ccc;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_1{
	width: 268px ;
	height: 30px ;
	line-height: 30px;
	font-size: 12px;
	float: left;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_1>span{
	color: #808080;
	float: left;
	margin-left: 10px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_1 a{
	color: #F66315;
	float: left;
	margin-left: 75px;
	cursor: pointer;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_1 a span{
	font-family: 'wbficon';
	color: #696E78;
	float: left;
	margin-right: 5px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_2{
	width: 268px ;
	height: 62px ;
	float: left;
	border-bottom: 1px solid #ccc;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_2 .contleft4_32_21{
	width: 42px ;
	height: 42px ;
	float: left;
	margin: 5px 5px 5px 15px;
	background: url(../images/fangwen2.png) no-repeat;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_2 .contleft4_32_22{
	width: 30px ;
	height: 30px ;
	float: left;
	font-size: 35px;
	color: #FC9F00;
	margin: 8px 0px 0px 5px ;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_2 .contleft4_32_23{
	width: 20px ;
	height: 20px ;
	float: left;
	margin: 35px 0px 0px 15px ;
	background: url(../images/icon_mydata.png) no-repeat -59px -20px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_3{
	width: 266px ;
	height:120px ;
	float: left;
	background: url(../images/fangwen3.png) no-repeat;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_4{
	width: 248px ;
	height:27px ;
	line-height: 27px;
	float: left;
	font-size: 12px;
	color: #808080;
	padding:0px 10px;
	background: #F2F2F5;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_32 .contleft4_32_4 span{
	color: #FC9F5F;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33{
	width: 268px;
	height: 240px;
	float: left;
	margin:5px 15px;
	border: 1px solid #ccc;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_1{
	width: 268px ;
	height: 30px ;
	line-height: 30px;
	font-size: 12px;
	float: left;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_1>span{
	color: #808080;
	float: left;
	margin-left: 10px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_1 a{
	color: #F66315;
	float: left;
	margin-left: 50px;
	cursor: pointer;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_1 a span{
	font-family: 'wbficon';
	color: #696E78;
	float: left;
	margin-right: 5px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_2{
	width: 268px ;
	height: 62px ;
	float: left;
	border-bottom: 1px solid #ccc;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_2 .contleft4_33_21{
	width: 42px ;
	height: 42px ;
	float: left;
	margin: 5px 5px 5px 15px;
	background: url(../images/pinlun2.png) no-repeat;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_2 .contleft4_33_22{
	width: 30px ;
	height: 30px ;
	float: left;
	font-size: 35px;
	color: #FC9F00;
	margin: 8px 0px 0px 5px ;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_2 .contleft4_33_23{
	width: 20px ;
	height: 20px ;
	float: left;
	margin: 35px 0px 0px 15px ;
	background: url(../images/icon_mydata.png) no-repeat -59px 0px;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_3{
	width: 266px ;
	height:120px ;
	float: left;
	background: url(../images/pinlun3.png) no-repeat;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_4{
	width: 248px ;
	height:27px ;
	line-height: 27px;
	float: left;
	font-size: 12px;
	color: #808080;
	padding:0px 10px;
	background: #F2F2F5;
}
#content .contentleft .contleft4 .contleft4_3 .contleft4_33 .contleft4_33_4 span{
	color: #FC9F5F;
}



#content .contentright{
	float: left;
	margin: 15px 0px 0px 20px;
	width: 600px;
	height:900px ;
}
#content .contentright .contright1{
	width: 100%;
	height: 40px;
	float: left;
	background: #F2F2F5;
	border: 1px solid #9DC2DA;
	border-radius: 3px;
	position: relative;
}
#content .contentright .contright1 .contright1_1{
	float: left;
	width: 90px;
	height: 39px;
	border-right: 1px solid #D9D9D9;
	border-bottom:2px solid #F66315;
	text-align: center;
	line-height: 38px;
	background: #fff;
}
#content .contentright .contright1 .contright1_1 span{
	font-size: 15px;
	font-weight: bold;
}
#content .contentright .contright1 #contright1_2{
	float: left;
	width: 90px;
	height: 39px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}
#content .contentright .contright1 #contright1_2:hover{
	color: #EB7350;
	border-bottom: 2px solid #EB7350;
}
#content .contentright .contright1 #contright1_2 p{
	font-size: 15px;
}
#content .contentright .contright1 #contright1_2 p span{
	font-family: 'wbficon';
}
#content .contentright .contright1 .contright1_3{
	float: right;
	margin: 7px;
	width: 176px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ccc;
	background: #fff;
}
#content .contentright .contright1 .contright1_3 input{
	float: left;
	margin-top: 3px;
	width: 130px;
	padding-left:5px ;
	border: none;
}
#content .contentright .contright1 .contright1_3 a{
	float: left;
	margin-left: 3px;
	font-family: 'wbficon';
	cursor: pointer;
}
#content .contentright .contright1 .contright1_3 #contright1_33:hover{
	color: #EB7350;
}
#content .contentright .contright1 ul{
	position: absolute;
	top: 40px;
	left: 91px;
	list-style: none;
	border: 1px solid #ccc;
	z-index: 21;
}
#content .contentright .contright1 ul li a{
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	z-index: 10;
	color: #333;
	font-size:12px ;
	padding-left: 10px;
}
#content .contentright .contright1 ul li :hover{
	background: #F2F2F5;
	color: #EB7350;
}
#content .contentright .contright2{
	width: 100%;
	height: 214px;
	float: left;
	background: #fff;
	border: 1px solid #9DC2DA;
	border-radius: 3px;
	position: relative;
}
#content .contentright .contright2 .contright2_1{
	width: 100%;
	height: 38px;
	border-bottom: 1px solid #F2F2F5;
	float: left;
}
#content .contentright .contright2 .contright2_1 p{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin: 10px 20px;
	
}
#content .contentright .contright2 .contright2_2{
	width: 100%;
	height: 175px;
	float: left;
	margin-top: 15px;
}
#content .contentright .contright2 .contright2_2 p{
	font-size: 12px;
	color: #333;
	float: left;
	margin: 5px 20px;
}
#content .contentright .contright2 .contright2_2 #contright2_21{
	width:226px ;
	height: 28px;
	padding-left: 3px;
}
#content .contentright .contright2 .contright2_2 #contright2_22{
	width:100px ;
	height: 28px;
	padding-left: 3px;
	margin-left: 2px;
}
#content .contentright .contright2 .contright2_2 #contright2_23{
	width:100px ;
	height: 28px;
	padding-left: 3px;
}
#content .contentright .contright2 .contright2_2 .contright2_24 input{
	position: absolute;
	top: 170px;
	left: 80px;
	width: 60px;
	height: 25px;
	display: block;
	color: white;
	border: none;
	border: 1px solid #EB7350;
	border-radius: 3px;
	background: #FA7D3C;
	opacity: 0.8;
	cursor: pointer;
}
#content .contentright .contright2 .contright2_2 .contright2_24 input:hover{
	opacity: 1;
}
#content .contentright .contright2 .contright2_3{
	width: 100%;
	height: 0px;
}
#content .contentright .contright2 .contright2_3 span{
	width:15px;
	height: 15px;
	color: #333;
	position:absolute;
	top: 10px;
	left: 575px;
	cursor: pointer;
}
#content .contentright .contright2 .contright2_3 span:hover{
	color: #F3702B;
}
.content4{
	height:188px;
	width:600px;
	background:#fff;
	position:relative;
	float: left;
	margin-top: 15px;
	border-radius:5px;
}
.content4 .cont4-top img#cont4-icon{
	position:absolute;
	left:21px;
	top:16px;
}
.content4 .cont4-top .cont4-top-wenzi h4{
	position:absolute;
	left:78px;
	top:18px;
}
.content4 .cont4-top .cont4-top-wenzi h4:hover{
	color:#F3702B;
}
.content4 .cont4-top .cont4-top-wenzi p{
	position:absolute;
	left:78px;
	top:42px;
	font-size:14px;
	color:#333;
}
.content4 .cont4-top .cont4-top-wenzi p a{
	text-decoration:none;
	color:#333;
}
.content4 .cont4-top .cont4-top-wenzi p a:hover{
	color:#F3702B;
}
.content4 .cont4-top .cont4-top-wenzi span{
	font-family:'wbficon';
	position:absolute;
	right:20px;
	top:22px;
}
.content4 .cont4-top .cont4-top-wenzi span:hover{
	color:#F4702B;
}
.content4 .cont4-top .cont4-top-wenzi img.cont4-pic{
	width:500px;
	height:60px;
	position:absolute;
	right:10px;
	top:5px;
}
.content4 .cont4-cen span{
	position:absolute;
	left:18px;
	top:72px;
	color:#333;
	font-size:14px;
	left: 100px;
}

.content4 .cont4-foot{
	position:absolute;
	left:0px;
	top:150px;
	border-top: 1px solid #F2F2F5;
}
.content4 .cont4-foot li{
	list-style:none;
	margin:8px 0px;
	height:20px;
	border-right:1px solid #d9d9d9;
	float:left;
	width:149px;
	text-align:center;
	font-size:14px;
	color:#333;
	cursor: pointer;
}
.content4 .cont4-foot li.cont4-foot-li5{
	border:none;
}
.content4 .cont4-foot li.cont4-foot-li1{
	width: 100px;
	margin-left: 49px;
}
.content4 .cont4-foot li span{
	font-family:'wbficon';
	padding-right:2px;
}
.content4 .cont4-foot li:hover{
	color:#F5712B;
}
.content4 .cont4_1{
	display: inline-block;
	color: #808080;
	font-size: 12px;
	position: absolute;
	left: 30px;
	top: 160px;
}
.content5{
	height:150px;
	width:600px;
	background:#fff;
	position:relative;
	float: left;
	margin-top: 15px;
	border-radius:5px;
}
.content5 .cont5-top img#cont5-icon{
	position:absolute;
	left:21px;
	top:16px;
}
.content5 .cont5-top .cont5-top-wenzi h4{
	position:absolute;
	left:78px;
	top:18px;
}
.content5 .cont5-top .cont5-top-wenzi h4:hover{
	color:#F3702B;
}
.content5 .cont5-top .cont5-top-wenzi p{
	position:absolute;
	left:78px;
	top:42px;
	font-size:14px;
	color:#333;
}
.content5 .cont5-top .cont5-top-wenzi p a{
	text-decoration:none;
	color:#333;
}
.content5 .cont5-top .cont5-top-wenzi p a:hover{
	color:#F3702B;
}
.content5 .cont5-top .cont5-top-wenzi span{
	font-family:'wbficon';
	position:absolute;
	right:20px;
	top:22px;
}
.content5 .cont5-top .cont5-top-wenzi span:hover{
	color:#F4702B;
}
.content5 .cont5-top .cont5-top-wenzi img.cont5-pic{
	width:500px;
	height:60px;
	position:absolute;
	right:10px;
	top:5px;
}
.content5 .cont5-cen .WB_text_01{
	position:absolute;
	left:18px;
	top:72px;
	color:#333;
	font-size:14px;
}
.content5 .cont5-cen .WB_text_01 a{
	text-decoration:none;
	color:#F4702B;
}
.content5 .cont5-cen .WB_text_01 a span{
	font-family:'wbficon';
	padding:0px 4px;
}
.content5 .cont5-cen .cont5-cen-vid{
	width:600px;
	height:323px;
	background:#F2F2F5;
	position:absolute;
	left:0px;
	top:126px;
}
.content5 .cont5-cen .cont5-vid-icon{
	width:50px;
	height:50px;
	background:url(../images/icon.png) no-repeat -200px -200px;
	position:absolute;
	top:260px;	
	left:274px;
}
.content5 .cont5-cen .cont5-vid-icon:hover{
	background:url(../images/icon.png) no-repeat -275px -200px;
}
.content5 .cont5-cen img{
	position:absolute;
	top:148px;
	left:51px;
}
.content5 .cont5-foot{
	position:absolute;
	left:0px;
	top:450px;
}
.content5 .cont5-foot li{
	list-style:none;
	margin:8px 0px;
	height:20px;
	border-right:1px solid #d9d9d9;
	float:left;
	width:149px;
	text-align:center;
	font-size:14px;
	color:#333;
	cursor: pointer;
}
.content5 .cont5-foot li.cont5-foot-li5{
	border:none;
}
.content5 .cont5-foot li.cont5-foot-li1{
	width: 100px;
	margin-left: 49px;
}
.content5 .cont5-foot li span{
	font-family:'wbficon';
	padding-right:2px;
}
.content5 .cont5-foot li:hover{
	color:#F5712B;
}
.content5 .cont5_1{
	display: inline-block;
	color: #808080;
	font-size: 12px;
	position: absolute;
	left: 30px;
	top: 460px;
}
.content7{
	width:600px;
	height:513px;
	background:#fff;
	position:relative;
	float: left;
	margin-top: 15px;
	border-radius:5px;
}
.content7 .cont7-top .cont7pic{
	position:absolute;
	top:16px;
	left:21px;
}
.content7 .cont7-top .cont7-top-wenzi h4{
	position:absolute;
	top:16px;
	left:76px;
}
.content7 .cont7-top .cont7-top-wenzi p{
	position:absolute;
	top:38px;
	left:76px;
	color:#808080;
	font-size:14px;
	
}
.content7 .cont7-top .cont7-top-wenzi p a{
	text-decoration:none;
	color:#808080;
}
.content7 .cont7-top .cont7-top-wenzi p a:hover{
	color:#F5712B;
}
.content7 .cont7-top .cont7-top-wenzi span{
	position:absolute;
	top:16px;
	right:16px;
	font-family:'wbficon';
	color:#808080;
}
.content7 .cont7-top .cont7-top-wenzi span:hover{
	color:#F5712B;
}
.content7 .cont7-cen .WB_text_01{
	position:absolute;
	top:65px;
	left:76px;
}
.content7 .cont7-cen .WB_text_02{
	height:379px;
	width:600px;
	background:#F2F2F5;
	position:absolute;
	top:90px;
}
.content7 .cont7-cen .WB_text_02 .WB_text_021 h4{
	position:absolute;
	top:4px;
	left:76px;
	color:#333;
	font-size:16px;
}
.content7 .cont7-cen .WB_text_02 .WB_text_021 h4:hover{
    color:#F5712B;
}
.content7 .cont7-cen .WB_text_02 .WB_text_022 p{
	position:absolute;
	top:25px;
	left:76px;
	font-size:14px;
	color:#333;
}
.content7 .cont7-cen .WB_text_02 .WB_text_022 img{
	width:239px;
	height:239px;
	position:absolute;
	top:110px;
	left:76px;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 p{
	position:absolute;
	bottom:5px;
	left:76px;
	font-size:14px;
	color:#808080;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 p a{
	font-size:14px;
	color:#808080;
	text-decoration:none;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 p a:hover{
	color:#F5712B;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li a:hover{
	color:#F5712B;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li.li0231{
	position:absolute;
	bottom:5px;
	left:346px;
	list-style:none;
	width:80px;
	text-align:center;
	border-right:1px solid #D9D9D9;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li.li0232{
	position:absolute;
	bottom:5px;
	left:426px;
	list-style:none;
	width:80px;
	text-align:center;
	border-right:1px solid #D9D9D9;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li.li0233{
	position:absolute;
	bottom:5px;
	left:508px;
	list-style:none;
	width:80px;
	text-align:center;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li a{
	text-decoration:none;
	color:#808080;
	font-size:14px;
}
.content7 .cont7-cen .WB_text_02 .WB_text_023 li a span{
	font-family:'wbficon';
}
.content7 .cont7-foot{
	position:absolute;
	bottom:4px;
}
.content7 .cont7-foot li{
	list-style:none;
	margin:8px 0px;
	height:20px;
	border-right:1px solid #d9d9d9;
	float:left;
	width:149px;
	text-align:center;
	font-size:14px;
	color:#333;
	cursor: pointer;
}
.content7 .cont7-foot li.cont7-foot-li7{
	border:none;
}
.content7 .cont7-foot li.cont7-foot-li1{
	width: 100px;
	margin-left: 49px;
}
.content7 .cont7-foot li span{
	font-family:'wbficon';
	padding-right:2px;
}
.content7 .cont7-foot li:hover{
	color:#F5712B;
}
.content7 .cont7_1{
	display: inline-block;
	color: #808080;
	font-size: 12px;
	position: absolute;
	left: 30px;
	top: 483px;
}
#content .contentcenter2{
	width: 918px;
	float: left;
	margin-top: 15px ;
	border:1px solid #F2F2F5 ;
	border-radius: 3px;
	background: #fff;
}
#content .contentcenter2 .contxiang1{
	width: 918px;
	height: 40px;
	border-bottom: 1px solid #F2F2F5;
	float: left;
}
#content .contentcenter2 .contxiang1 a{
	font-size: 14px;
	color: #333;
	height: 38px;
	line-height: 38px;
	float: left;
	margin: 0px 10px;
	cursor: pointer;
}
#content .contentcenter2 .contxiang1 #contxiang1_5{
	margin-left: 445px;
}
#content .contentcenter2 .contxiang1 a em{
	float: left;
	margin: 2px 6px;
	font-family: 'wbficon';
}
#content .contentcenter2 .contxiang1 #contxiang1_5 em{
	color: #84C002;
	font-size: 18px;
}
#content .contentcenter2 .contxiang1 #contxiang1_5:hover{
	color: #F66315;
}
#content .contentcenter2 .contxiang1 #contxiang1_6 em{
	color: #737E95;
	font-size: 18px;
}
#content .contentcenter2 .contxiang1 #contxiang1_6:hover{
	color: #F66315;
}
#content .contentcenter2 .contxiang2,#content .contentcenter2 .contxiang3,#content .contentcenter2 .contxiang4{
	width: 918px;
	float: left;
}
#content .contentcenter2 .contxiang2 .contxiang2_1,#content .contentcenter2 .contxiang3 .contxiang3_1,#content .contentcenter2 .contxiang4 .contxiang4_1{
	width: 918px;
	height: 1270px;
}
#content .contentcenter2 .contxiang2 .contxiang2_1 p,#content .contentcenter2 .contxiang3 .contxiang3_1 p,#content .contentcenter2 .contxiang4 .contxiang4_1 p{
	width: 920px;
	height:20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #333;
	float: left;
	margin-top: 80px;
}
#content .contentcenter2 .contxiang2 .contxiang2_1 input,#content .contentcenter2 .contxiang3 .contxiang3_1 input{
	width: 100px;
	height:36px;
	display:inline-block;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: none;
	background: #F7691E;
	border: 1px solid #F7691E;
	border-radius: 3px;
	float: left;
	margin: 10px 400px ;
	opacity: 0.7;
	cursor: pointer;
}
#content .contentcenter2 .contxiang2 .contxiang2_1 input:hover{
	opacity: 1;
}
#content .contentcenter2 .contxiang3 .contxiang3_1 input:hover{
	opacity: 1;
}
/*弹框（照片）*/
.xiang{
	position: absolute;
	z-index: 22;
	position: absolute;
	width: 100%;
	height: 100%;
}
 .xiang .xiang1{
	width: 100%;
	height:100%;
	z-index: 22;
	background:gray;
	opacity: 0.5;
}
 .xiang .xiang2{
 	width: 500px;
 	height: 205px;
 	z-index: 26;
 	background:#fff;
 	position: absolute;
 	top: 475px;
	left: 370px;
 }
 .xiang .xiang2_1{
	width: 500px;
	height:40px ;
	border-bottom:1px solid #F2F2F5 ;
}
.xiang .xiang2_1 p{
	float: left;
	margin: 10px 20px;
	font-size: 14px;
	font-weight: bold;
}
.xiang .xiang2_2{
	width: 500px;
	height: 165px;
}
.xiang .xiang2_2 .xiang2_21,.xiang .xiang2_2 .xiang2_22{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #808080;
	float: left;
	margin-left: 370px;
}
.xiang .xiang2_2 #xiangtext1,.xiang .xiang2_2 #xiangtext2{
	font-size: 18px;
	font-weight: bold;
}
.xiang .xiang2_2 .xiang2_23{
	width: 470px;
	height:80px ;
	float: left;
	margin: 5px 15px;
	border: 1px solid #D9D9D9;
}
.xiang .xiang2_2 #xiangtextarea{
	width: 460px;
	height:70px ;
	margin:5px;
	border: none;
}
.xiang .xiang2_2 form>a{
	width: 20px ;
	height: 20px;
	display: block;
	float: left;
	font-size: 18px;
	margin: 1px 14px;
	cursor: pointer;
	opacity: 0.8;
}
.xiang .xiang2_2 a:hover{
	opacity: 1;
}
.xiang .xiang2_2 a em{
	font-family: 'wbficon';
}
.xiang .xiang2_2 .xiang2_24{
	color: #FF8200;
}
.xiang .xiang2_2 .xiang2_25{
	color: #81BC02;
}
.xiang .xiang2_2 .xiang2_26{
	color: #727D94;
}
.xiang .xiang2_2 .xiang2_27{
	color: #5889E1;
}
.xiang .xiang2_2 .xiang2_28{
	width: 90px;
	height: 20px;
	display: inline-block;
	position:absolute;
	right:53px;
	top: 165px;
}
.xiang .xiang2_2 .xiang2_28 a{
	color:#333;
	font-size:12px;
	cursor: pointer;
}
.xiang .xiang2_2 .xiang2_28  em{
	font-family:'wbficon';
	cursor:pointer;
}
.xiang .xiang2_2 .xiang2_28 a:hover{
	color:#FF8200;
}
.xiang .xiang2_2 .xiang2_28  em:hover{
	color:#FF8200;
}
.xiang .xiang2_2 .xiang2_29{
	width: 70px;
	height: 30px;
	color: #fff;
	border: none;
	float: left;
	margin-left: 415px;
	margin-top: -25px;
	background: #F66315;
	opacity: 0.8;
	border: 1px solid #F66315;
	border-radius:3px ;
}
.xiang .xiang2_3 span{
	width: 20px ;
	height: 20px ;
	position: absolute;
	top: 8px;
	right: 4px;
	color: #333;
	cursor: pointer;
}
.xiang .xiang2_3 span:hover{
	color: #F66315;
}
.open_btn{
	width:109px;
	height:127px;
	border:1px solid #ccc;
	border-radius:2px;
	background:#fff;
	z-index:4100;
	position:absolute;
	top:195px;
	left:290px;
}
.open_btn li{
	list-style:none;
	height:30px;
	width:99px;
	font-size:14px;
	line-height:30px;
	padding-left:10px;
}
.open_btn li a .open_li1{
	margin-top:5px;
}
.open_btn li a{
	text-decoration:none;
	color:#333;
}
.open_btn li a:hover{
	color:#EB7350;
}
.open_btn li a .open_icon{
	width:20px;
	height:20px;
	display:inline-block;
	position:relative;
	top:6px;
	z-index:2px;
	background:url(../images/icon.png) no-repeat -50px -201px;
}
.open_btn li a .frient_icon{
	width:20px;
	height:20px;
	display:inline-block;
	position:relative;
	top:6px;
	z-index:2px;
	background:url(../images/icon.png) no-repeat -50px -150px;
}
.open_btn li a .me_icon{
	width:20px;
	height:20px;
	display:inline-block;
	position:relative;
	top:6px;
	z-index:2px;
	background:url(../images/icon.png) no-repeat -50px -125px;
}
.open_btn li a .qun_icon{
	width:20px;
	height:20px;
	display:inline-block;
	position:relative;
	top:7px;
	z-index:2px;
	background:url(../images/icon.png) no-repeat -100px -150px;
}

/*视频*/
 .shipin{
 	float: left;
	z-index: 22;
	position: absolute;
	width: 100%;
	height: 100%;
}
 .shipin .shipin1{
	width: 100%;
	height:100%;
	z-index: 22;
	background:gray;
	opacity: 0.5;
}
 .shipin .shipin2{
	width: 470px;
	height: 330px;
	z-index: 26;
	background: #fff;
	position: absolute;
	top: 475px;
	left: 400px;
}
.shipin .shipin2_1{
	width: 470px;
	height:40px ;
	border-bottom:1px solid #F2F2F5 ;
}
.shipin .shipin2_1 p{
	float: left;
	margin: 10px 20px;
	font-size: 14px;
	font-weight: bold;
}
.shipin .shipin2_2{
	width: 470px;
	height: 290px;
}
.shipin .shipin2_2 .shipin2_22{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #808080;
	float: left;
	margin-left: 15px;
}
.shipin .shipin2_2 .shipin2_23{
	width: 440px;
	height:170px ;
	float: left;
	margin: 5px 15px;
	border: 1px solid #D9D9D9;
}
.shipin .shipin2_2 #shipintextarea{
	width: 420px;
	height:90px ;
	margin: 10px;
	border: none;
}
.shipin .shipin2_2 .shipin2_25{
	width: 420px;
	height:70px ;
	margin:-10px  10px;
}
.shipin .shipin2_2 .shipin2_26{
	width: 58px;
	height:58px ;
	display: block;
	float: left;
	margin:2px;
	border: 2px dashed #ccc;
	cursor: pointer;
}
.shipin .shipin2_2 .shipin2_26:hover{
	border: 2px dashed #F5712B;
}
.shipin .shipin2_2 .shipin2_26 span{
	width: 58px;
	height:58px ;
	line-height: 58px;
	text-align: center;
	font-size: 40px;
	color: #ccc;
	font-weight: bold;
	display: block;
}
.shipin .shipin2_2 .shipin2_26 span:hover{
	color: #F5712B;
}
.shipin .shipin2_2 .shipin2_27_1,.shipin .shipin2_2 .shipin2_27{
	width: 25px;
	height:30px ;
	font-size: 12px;
	line-height: 30px;
	color: #333;
	display: block;
	float: right;
	margin:30px 0px  ;
}
.shipin .shipin2_2 .shipin2_27{
	margin-right: 15px;
}
.shipin .shipin2_2 .shipin2_28{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	color: #333;
	float: left;
	margin-left: 15px;
}
.shipin .shipin2_2 .shipin2_28 input{
	margin-left:8px;
}
.shipin .shipin2_2 .shipin2_29{
	width: 80px;
	height: 30px;
	font-size: 13px;
	color: #fff;
	float: left;
	margin-left: 200px;
	background: #FA7D3C;
	border: none;
	opacity: 0.6;
	border: 1px solid #F66315;
	border-radius:3px ;
}
.shipin .shipin2_3{
	width: 470px;
	height: 0px;
	position: absolute;
	top: 0px;
}
.shipin .shipin2_3 span{
	width: 20px ;
	height: 20px ;
	float: right;
	margin: 8px 4px;
	color: #333;
	cursor: pointer;
}
.shipin .shipin2_3 span:hover{
	color: #F66315;
}

/*管理中心*/
#content .contentcenter3{
	width: 918px;
	float: left;
	margin-top: 15px ;
}
#content .contentcenter3 .guanlileft{
	width: 120px;
	height: 760px;
	float: left;
	margin-bottom: 3px;
	background: #fff;
	padding-top: 10px;
	border:1px solid #F2F2F5 ;
	border-radius: 3px;
}
#content .contentcenter3 .guanlileft ul{
	list-style:none;
	
}
#content .contentcenter3 .guanlileft ul a{
	text-decoration:none;
	color:#333;
	cursor: pointer;
	font-size: 12px;
	width: 103px;
	height: 34px;
	line-height: 34px;
	display: block;
	float: left;
	margin-left: 11px;
}
#content .contentcenter3 .guanlileft ul a span{
	float: left;
	margin-left: 25px;
}

#content .contentcenter3 .guanlileft   ul a:hover{
	color: #F76E25;
}
 #content .contentcenter3 .guanlileft  .no_circle{
	display:none;
}
#content .contentcenter3 .guanlileft #guanlileft1_1,#content .contentcenter3 .guanlileft #guanlileft1_2,#content .contentcenter3 .guanlileft #guanlileft1_4,#content .contentcenter3 .guanlileft #guanlileft1_6,#content .contentcenter3 .guanlileft #guanlileft1_8,#content .contentcenter3 .guanlileft #guanlileft1_10,#content .contentcenter3 .guanlileft #guanlileft1_12{
	font-size: 14px;
}
#content .contentcenter3 .guanlileft #guanlileft1_1 i{
	width: 25px;
	height: 15px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -20px;
	display: block;
	float: left;
	margin-top: 8px;
}
#content .contentcenter3 .guanlileft #guanlileft1_1:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_2 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -260px;
	display: block;
	float: left;
	margin-top: 7px;
}
#content .contentcenter3 .guanlileft #guanlileft1_2:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_4 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -500px;
	display: block;
	float: left;
	margin-top: 7px;
}
#content .contentcenter3 .guanlileft #guanlileft1_4:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_6 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -41px;
	display: block;
	float: left;
	margin-top: 8px;
}
#content .contentcenter3 .guanlileft #guanlileft1_6:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_8 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -141px;
	display: block;
	float: left;
	margin-top: 8px;
}
#content .contentcenter3 .guanlileft #guanlileft1_8:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_10 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -100px;
	display: block;
	float: left;
	margin-top: 8px;
}
#content .contentcenter3 .guanlileft #guanlileft1_10:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanlileft #guanlileft1_12 i{
	width: 25px;
	height: 20px;
	background: url(../images/icon_admin_leftnav.png) no-repeat 0px -120px;
	display: block;
	float: left;
	margin-top: 8px;
}
#content .contentcenter3 .guanlileft #guanlileft1_12:hover{
	background: #F2F2F5;
	color: #333;
}
#content .contentcenter3 .guanliright{
	width: 780px;
	float: left;
	margin: 0px 0px 0px 16px;
}
#content .contentcenter3 .guanliright .guanliright1{
	width: 780px;
	height: 38px;
	float: left;
	margin-bottom: 10px;
	background: #fff;
	border:1px solid #F2F2F5 ;
	border-radius: 3px;
}
#content .contentcenter3 .guanliright .guanliright1 a{
	height: 37px;
	line-height: 37px;
	font-size: 14px;
	display: block;
	float: left;
	margin: 0px 20px;
	cursor: pointer;
}
#content .contentcenter3 .guanliright .guanliright1 a:hover{
	color: #F66315;
}
#content .contentcenter3 .guanliright .guanliright2{
	width: 780px;
	height: 38px;
	float: left;
	margin-bottom: 10px;
	background: #fff;
	border:1px solid #F2F2F5 ;
	border-radius: 3px;
}
#content .contentcenter3 .guanliright .guanliright2 a{
	height: 37px;
	line-height: 37px;
	font-size: 12px;
	display: block;
	text-align: center;
	cursor: pointer;
}
#content .contentcenter3 .guanliright .guanliright2 a span{
	font-family: 'wbficon';
	margin: 10px 5px 0px 5px;
	font-size: 14px;

}
#content .contentcenter3 .guanliright .guanliright2 a:hover{
	color: #F66315;
}
#content .contentcenter3 .guanliright .guanliright3{
	width: 780px;
	float: left;
	margin-bottom: 10px;
	background: #fff;
	border:1px solid #F2F2F5 ;
	border-radius: 3px;
	padding: 10px 0px;
	
}
.guanliright3_1,.guanliright3_2,.guanliright3_3,.guanliright3_4{
	width: 748px;
	height: 287px;
	float: left;
	margin: 10px 0px 0px 15px;
	border:1px solid #F2F2F5 ;
	background: #F2F2F5;
}
.guanliright3_1_1{
	width: 748px;
	height: 40px;
	line-height: 40px;
	float: left;
}
 .guanliright3_1_1 span{
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-left: 20px;
}
 .guanliright3_1_1 i{
	width: 20px ;
	height: 20px;
	background: url(../images/icon.png) no-repeat  -350px -50px;
	float: left;
	margin: 13px 0px 0px 10px;
	display: block;
}
 .guanliright3_1_1 a{
	font-size: 14px;
	color: #F66315;
	float: left;
	margin-left: 575px;
}
 .guanliright3_1_2{
	width: 748px;
	height: 247px;
	float: left;
	background: #fff;
}
 .guanliright3_1_21, .guanliright3_1_22{
	width: 370px;
	height: 227px;
	float: left;
	margin-top: 20px;
	border-right: 2px solid #F2F2F5;
}
 .guanliright3_1_22{
 	border-right: none;
 }
 .guanliright3_1_21_1{
	width: 350px;
	height: 30px;
	float: left;
	margin-left: 20px;
}
 .guanliright3_1_21_2{
	float: left;
	font-size: 13px;
	color: #333;
}
 .guanliright3_1_21_3{
	float: left;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	margin-left: 10px;
}
 .guanliright3_1_21_4,.guanliright3_3_21_4{
	float: left;
	font-size: 13px;
	color: #333;
	margin-left: 120px;
}
.guanliright3_3_21_4{
	margin-left: 110px;
}
 .guanliright3_1_21_5,.guanliright3_3_21_5{
	float: left;
	height: 15px;
	font-size: 13px;
	color: #D13600;
	margin-left: 10px;
	padding-left:10px ;
	background: url(../images/jiandou1.png) no-repeat;
}
.guanliright3_3_21_5{
	background: url(../images/jiantou2.png) no-repeat;
	color: #009211;
}
 .guanliright3_1_21_6,.guanliright3_1_22_6, .guanliright3_3_21_6,.guanliright3_3_22_6{
	width: 348px;
	height: 163px;
	float: left;
	background: url(../images/fensi1.png) no-repeat;
}
.guanliright3_1_22_6{
	background: url(../images/fensi2.png) no-repeat;
}
.guanliright3_3_21_6{
	background: url(../images/fensi5.png) no-repeat;
}
.guanliright3_3_22_6{
	background: url(../images/fensi6.png) no-repeat;
}
 .guanliright3_1_21_7{
	width: 348px;
	height: 40px;
	line-height: 40px;
	float: left;
}
 .guanliright3_1_21_7 i{
	float: left;
	width: 20px;
	height: 2px;
	background: #F3702B;
	margin: 20px 0px 0px 100px;
}
.guanliright3_1_21_7 span{
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
}


/*内容右边的一个回到顶部事件*/
.To-Top a{
	font-family:'wbficon';
	text-decoration:none;
	font-size:18px;
	color:#fff;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#73BBE2;
	display:inline-block;
	position:absolute;
	bottom:40px;
	right:174px;
	position:fixed;
	z-index:10;
}
/*内容右边的一个回到顶部事件结束*/

/*网页右边底下的私信聊天*/
.RB-PriChat{
	height:40px;
	width:288px;
	background:#EDF0F4;
	display:inline-block;
	position:absolute;
	bottom:0px;
	right:0px;
	border-radius:5px;
	position:fixed;
	z-index:20;
}
.RB-PriChat span{
	background:url(../images/webim_icon.png) no-repeat 0px -22px;
	width:18px;
	height:15px;
	display:inline-block;
	margin:13px 20px;
}
.RB-PriChat b{
	font-size:14px;
	position:absolute;
	top:10px;
	font-weight:400;
	color:#333;
}
.RB-PriChat .PriChat1{
	width:38px;
	height:38px;
	background:#FF8140;
	display:inline-block;
	position:absolute;
	right:10px;
	top:2px;
}
.RB-PriChat .PriChat1 em{
	background:url(../images/webchat_icon.png) no-repeat 0px 0px;
	width:22px;
	height:16px;
	display:inline-block;
	position:absolute;
	top:10px;
	left:10px;
}
/*网页右边底下的私信聊天结束*/
/*中间内容结束*/


/*脚注部分开始*/
#foot{
	height:300px;
	width:100%;
	background:#FFF;
	position:absolute;
	bottom:-300px;
	z-index:10;
}
#foot .foot-top{
	height:160px;
}
#foot .foot-top .splendid-WB{
	width:120px;
	float:left;
	margin-left:305px;
	margin-top:25px;
}
#foot .foot-top .splendid-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .splendid-WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
}
#foot .foot-top .splendid-WB a:hover{
	color:#FF6600;
}
#foot .foot-top .splendid-WB a.a1{
	float:left;
	width:50px;
	margin-right:20px;
}
#foot .foot-top .splendid-WB a.a2{
	float:left;
}

#foot .foot-top .phone-WB{
	float:left;
	margin-left:90px;
	margin-top:25px;
}
#foot .foot-top .phone-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .phone-WB a{
	width:110px;
	display:inline-block;
	text-decoration:none;
	font-size:12px;
	color:#808080;
	position:relative;
	top:-45px;
	left:5px;
}
#foot .foot-top .phone-WB a:hover{
	color:#FF6600;
}

#foot .foot-top .authenticate_WB{
	float:left;
	width:143px;
	margin-left:70px;
	margin-top:25px;
}
#foot .foot-top .authenticate_WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .authenticate_WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
}
#foot .foot-top .authenticate_WB a:hover{
	color:#FF6600;
}
#foot .foot-top .authenticate_WB a.a1{
	float:left;
	width:60px;
	margin-right:20px;
}
#foot .foot-top .authenticate_WB a.a2{
	float:left;
}

#foot .foot-top .help-WB{
	width:70px;
	float:left;
	margin-left:70px;
	margin-top:25px;	
}
#foot .foot-top .help-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .help-WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
    float:left;
}
#foot .foot-top .help-WB a:hover{
	color:#FF6600;
}

#foot .foot-bottom{
	height:140px;
	background-color:#F6F6F6;
}
#foot .foot-bottom .notice{
	text-align:center;
	position:relative;
	top:25px;
}
#foot .foot-bottom .notice a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	margin-right:15px;
}
#foot .foot-bottom .notice a:hover{
	color:#FF6600;
}
#foot .foot-bottom .notice a img{
	position:relative;
	top:2px;
}
#foot .foot-bottom .address{
	text-align:center;
	
	margin-top:30px;
}
#foot .foot-bottom .address a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
}
#foot .foot-bottom .address a:hover{
	color:#FF6600;
}

#foot .foot-bottom .copyright{
	text-align:center;
}
#foot .foot-bottom .copyright p{
	display:inline-block;
	font-size:12px;
	color:#808080;
}
#foot .foot-bottom .copyright a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	margin-left:10px;
}
#foot .foot-bottom .copyright a:hover{
	color:#FF6600;
}
#foot .foot-bottom .copyright a img{
	position:relative;
	top:4px;
	right:3px;
}
/*脚注部分结束*/
