@font-face{
	font-family:'wbficon';
	src:url(../woff/wbficon.woff),url(../woff/wbficon.woff) format('woff');
}
*{
	padding:0px;
	margin:0px auto;
}
body{
	width:100%;
	height:1400px;
	background:url(../images/body_bg.jpg) no-repeat;
	background-size:auto;
	background-color:#B4DAF0;
	overflow:scroll;
}
.color1{
	border: 1px solid #ccc;
}
.color2{
	border: 1px solid #FA7D3C;
}
a{
	text-decoration: none;
}

/*头部开始*/
#head{
	width:100%;
	height:48px;
	border-top:2px solid #FA7D3C;
	background:#F6FBFD;
	position:fixed;
	opacity:0.97;
	z-index:900;
}
.head_logo{
	width:140px;
	height:48px;
	margin-left:35px;
}
.head_logo img{
	position:relative;
	top:10px;
	left:30px;
}
.head_search input{
	width:460px;
	height:30px;
	padding-left:10px;
	border:none;
	position:absolute;
	left:174px;
	top:10px;
	border:solid 1px #ccc;
	background:#F2F2F5;
}
.head_search .search_icon{
	font-family:'wbficon';
	position:absolute;
	left:615px;
	top:16px;
	font-size:20px;
}
.head_search .search_icon:hover{
	color:#FA7D3C;
}
/*搜索隐藏的部分*/
.head_search .search_contant{
	width:471px;
	background:#fff;
	float:left;
    margin-left:175px;
	margin-top:-32px;
}
.head_search .search_contant ul li{
	list-style:none;
	font-size:14px;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
.head_search .search_contant ul li a{
	text-decoration:none;
	color:#333;
}
.head_position{
	width:578px;
	height:48px;
	position:absolute;
	top:2px;
	left:725px;
}
.head_position .head_nav li{
	list-style:none;
	float:left;
	line-height:48px;
	font-family:'wbficon';
	font-size:24px;
	margin-left:25px;	
}
.head_position .head_nav li a{
	text-decoration:none;
	color:#696E78;
}
.head_position .head_nav li a:hover{
	color:#FA7D3C;
}
.head_position .head_nav li.head_nav_li1 a{
	color:#FA7D3C;
}
.head_set{
	float:right;
	height:28px;
	border-left:1px solid #D9D9D9;
	position:absolute;
	top:10px;
	left:420px;
}
.head_set .head_set_line{
	float:left;
	font-family:'wbficon';
	font-size:24px;
	margin-left:25px;	
}
.head_set .head_set_line a{
	text-decoration:none;
	color:#696E78;
}
.head_set .head_set_line a:hover{
	color:#FA7D3C;
}
.head_set .head_set_line a.set_line3{
	width:24px;
	height:22px;
	color:#fff;
	border-radius:2px;
	padding-left:2px;
	padding-top:2px;
	background:#F76E25;
}
/*隐藏信息*/
.head_set .hideinfo1{
	width:130px;
	background:#fff;
	position:relative;
	top:38px;
	left:-70px;
	display:none;
}
.head_set .hideinfo1 em.line_bg1{ 
    height: 0;
	width: 0;
	border-style: solid;
    border-width: 7px;
	border-color:#fff;
    display: inline-block;
    vertical-align: top;
	border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
	margin-top:-42px;
	margin-left:90px;
}
.head_set .hideinfo1 ul{
	position:relative;
	top:-43px;
	height:175px;
}
.head_set .hideinfo1 li{
	list-style:none;
	line-height:30px;
	padding-left:10px;
}
.head_set .hideinfo1 li.hideinfoli2,li.hideinfoli6{
	border-bottom:1px solid #ccc;
}
.head_set .hideinfo1 li.hideinfoli7{
	text-align:center;
}
.head_set .hideinfo1 li a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}
.head_set .hideinfo1 li a:hover{
	color:#FA7D3C;
}
.head_set .hideinfo2{
	width:100px;
	background:#fff;
	position:relative;
	top:38px;
	left:50px;
	display:none;
	border-radius:2px;
}
.head_set .hideinfo2 em.line_bg2{ 
    height: 0;
	width: 0;
	border-style: solid;
    border-width: 7px;
	border-color:#FFF;
    display: inline-block;
    vertical-align: top;
	border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
	margin-top:-42px;
	margin-left:2px;
}
.head_set .hideinfo2 ul{
	position:relative;
	top:-50px;
	height:193px;
}
.head_set .hideinfo2 li{
	list-style:none;
	line-height:30px;
	padding-left:10px;
}
.head_set .hideinfo2 li.hideinfo27{
	border-bottom:1px solid #ccc;
}
.head_set .hideinfo2 li.hideinfo28{
	text-align:center;
}
.head_set .hideinfo2 li a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}
.head_set .hideinfo2 li a:hover{
	color:#FA7D3C;
}
.hideinfo3{
	height:26px;
	display:none;
	line-height:26px;
	color:#333;
	position:absolute;
	top:34px;
	right:-50px;
	background:#f6f6f6;
	border:1px solid #333;
	font-size:14px;
}
/*头部结束*/

/*右上角一个背景图片*/
.right_top_icon{
	width:40px;
	height:40px;
	position:absolute;
	right:0px;
	top:50px;
	z-index:3988;
	position: fixed;
}
.right_top_icon a{
	position:absolute;
	width:40px;
	height:40px;
	display:block;
	background:url(../images/icon.png) no-repeat -153px -200px;
	transition:2s;
}
.right_top_icon a:hover{
	width:42px;
	height:42px;
	background:url(../images/icon.png) no-repeat -153px -276px;
}

/*中间内容开始*/
#content{
	width:1000px;
	height:1400px;
	background-color: rgba(70, 149, 194, 0.3);
	position:absolute;
	top:50px;
	left:174px;
}
#content .content_left{
	width:150px;
	float:left;
	position:fixed;
}
#content .content_left .content_left_me{
	width:150px;
	height:115px;
	margin-top:17px;
	border-bottom:1px solid #89BADB;
}
#content .content_left .content_left_me a{
	width:135px;
	padding-left:15px;
	font-size:14px;
	text-decoration:none;
	float:left;
	height:34px;
	line-height:34px;
	color:#fff;
}
#content .content_left .content_left_me a:hover{
	background:#85B9DA;
}
#content .content_left .content_left_hotwb{
	width:150px;
	height:45px;
	padding-top:12px;
	border-bottom:1px solid #89BADB;
}
#content .content_left .content_left_hotwb a{
	float:left;
	width:135px;
	padding-left:15px;
	font-size:14px;
	text-decoration:none;
	height:34px;
	line-height:34px;
	color:#fff;
}
#content .content_left .content_left_hotwb a:hover{
	background:#85B9DA;
}
#content .content_left .content_left_hotwb a em{
	font-family:'wbficon';
}
#content .line_icon{
	font-family:'wbficon';
	float:left;
	margin-top:-11px;
	margin-left:120px;
}
#content .line_icon a{
	text-decoration:none;
	color:#fff;
}
#content .content_left_other{
	width:150px;
	height:238px;
	padding-top:12px;
	border-bottom:1px solid #89BADB;
}
#content .content_left_other a{
	float:left;
	width:135px;
	height:34px;
	line-height:34px;
	padding-left:15px;
	text-decoration:none;
	color:#fff;
	font-size:14px;
}
#content .content_left_other a:hover{
	background:#85B9DA;
}
#content .content_left_other em{
	font-family:'wbficon';
}

/*内容的内容开始*/
#content .content_middle{
	float:left;
	width:600px;
	position:absolute;
	left:150px;
}
#content .content_middle .content1{
	
	width:600px;
	background-color:#fff;
	border-radius:2px;
	float:left;
	margin-top:16px ;
}
#content .content_middle .content1>a{
	font-size: 13px;
	height:40px;
	line-height: 36px;
	float: left;
	margin-left: 20px;
	cursor: pointer;
	color: #333;
}
.sub1{
	font-weight: bold;
	border-bottom:2px solid #FA7D3C ;
}
.sub2{
	font-weight: 200;
	border-bottom:none ;
}
#content .content_middle .content1 a small{
	font-size: 12px;
	color: #333;
	margin-left: 5px;
	
}

#content .content_middle .content1 #content1_1{
	width: 178px;
	height:25px;
	float: right;
	margin-right:7px ;
	margin-top:6px ;
	
}
#content .content_middle .content1 #content1_1 input{
	width: 140px;
	height: 23px;
	margin-left:5px;
	border: none;
	font-size: 12px;
}
#content .content_middle .content1 #content1_1 a{
	width: 20px;
	height: 20px;
	float: left;
	margin-left:153px ;
	margin-top: -23px;
	border: none;
	text-decoration: none;
	cursor: pointer;
}
#content .content_middle .content1 #content1_1 em{
	font-family:'wbficon';
}
#content .content_middle .content1 #content1_2{
	width: 600px;
	height: 100px;
	float: left;
	border-top: 1px solid #F2F2F5;
	padding: 10px 0px;
	position: relative;
}
#content .content_middle  .classify{
	width: 60px;
	height: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 1px;
	position: relative;
	cursor: pointer;
}
#content .content_middle .classify1{
	width: 20px;
	height: 20px;
}
#content .content_middle .classify .classify2 a:hover{
	color:#FA7D3C;
}	
#content .content_middle .classify1_1{
	border-width: 11px 11px 11px 0px;
	border-style: solid;
	border-color:transparent #D9D9D9 transparent transparent; 
	position: relative;
}

#content .content_middle .classify1_1 .classname1{
	display: block;
	border-width:0px 10px 10px 10px ;
	border-style: solid;
	border-color:transparent #F6F6F6 transparent transparent; 
	position: absolute;
	top: -10px;
	left: 11px;
}
#content .content_middle .classify2{
	height: 20px;
	width:35px;
	float: left;
	border: 1px solid #D9D9D9;
	border-radius: 2px;
	position: absolute;
	top: 0px;
	left: 40px;
	background: none;
	border-left: none;
}
#content .content_middle .classify2:hover{
	background:#F6F6F6;
	box-shadow: 2px 2px 2px  rgba(0,0,0,0.45) ;
}
#content .content_middle #classifyname18{
	width: 70px;
}
#content .content_middle  #classifyd18{
	margin-left: 20px;
}
#content .content_middle  #ifyname18{
	width: 45px;
}
#content .content_middle .classify a{
	color: black;
	display: block;
	font-size: 12px;
	padding-left: 4px;
	
}
/*弹出框*/
 #content .content_middle .conted1{
	width: 400px;
	height:168px;
	background: #fff;
	z-index: 50;
	float: left;
	margin-top:70px ;
	margin-left: -10px;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#content .content_middle .conted1 .contedclose{
	float: right;
	width: 400px;
	height: 20px;
	
}
#content .content_middle .conted1 .contedclose span{
	font-size: 14px;
	float: right;
	margin: 5px 10px 0px 0px;
	z-index: 200;
	cursor: pointer;
}
#content .content_middle .conted1 .contedclose span:hover{
	color: #FF8140;
}
#content .content_middle .conted1 .contedcontent{
	width: 400px;
	height: 100px;
	float: left;
}
#content .content_middle .conted1 .contedcontent .conted1_1{
	font-size: 14px;
	color: #333;
	float: left;
	width: 400px;
	margin-top: 10px;
	text-align: center;
}
#content .content_middle .conted1 .contedcontent .conted1_2{
	font-size: 12px;
	color: #808080;
	float: left;
	width: 400px;
	margin-top: 15px;
	text-align: center;
}
#content .content_middle .conted1 .contedcontent .conted1_2 .conted1_3{
	font-size: 20px;
	color: black;
	font-family:'wbficon';
}
#content .content_middle .conted1 .contedcontent .conted1_2 .conted1_4{
	font-size: 15px;
	color: black;
	font-family:'wbficon';
}
#content .content_middle .conted1 .contedbtn{
	width: 400px;
	height: 47px;
	float: left;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: -1px;
	margin-bottom: -1px;
}

#content .content_middle .conted1 .contedbtn input{
	height: 28px;
	float: left;
	margin: 10px 5px;
	display:inline-block;
	background: none;
	border: none;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
}
#content .content_middle .conted1 .contedbtn #conbtn1{
	width: 120px;
	color: white;
	margin-left: 100px;
	background: #F7691E;
	opacity:0.8;
}
#content .content_middle .conted1 .contedbtn #conbtn1:hover{
	opacity:1;
}
#content .content_middle .conted1 .contedbtn #conbtn2{
	width: 70px;
	color: #333;
}
#content .content_middle .conted1 .contedbg{
	width: 23px;
}

#content .content_middle .conted1 .contedbg .contedbg1{
	border-width: 0px 11px 11px;
	border-style: solid;
	border-color:transparent transparent #ccc;
	 
	position: relative;
	top: -11px;
	left: -10px;
}

#content .content_middle .conted1 .contedbg .contedbg2{
	display: block;
	border-width: 0px 11px 11px;
	border-style: solid;
	border-color:transparent transparent white; 
	position: absolute;
	top: 2px;
	left: -10px;
}

#content .content_middle .content2{
	width:600px ;
	float: left;
}
#content .content_middle .content2 .contentd2{
	height:500px;
	width:600px;
	background-color:#fff;
	border-radius:2px;
	float:left;
	margin-top: 10px;
}
#content .content_middle .content2 .contentd2 .content2_1{
	float: left;
	height: 50px;
	width: 600px;
	margin-top: 100px;
	
	display: bolck;
}
#content .content_middle .content2 .contentd2 .content2_1 span{
	width: 50px;
	height:50px;
	float: left;
	display: bolck;
	background: url(../images/icon.png) no-repeat -370px -100px;
	margin-left: 270px;
	
}
#content .content_middle .content2 .contentd2 .content2_2{
	font-size: 14px;
	color: #333;
	float: left;
	width: 600px;
	margin-top: 10px;
	text-align: center;
}
#content .content_middle .content2 .contentd2 .content2_3{
	font-size: 12px;
	color: #808080;
	float: left;
	width: 600px;
	margin-top: 10px;
	text-align: center;
}
.content3{
	margin-top: 10px;
}
.contentd4{
	width:600px;
	height:480px;
	background:#fff;
	border-radius:5px;
	float: left;
	margin-top: 10px;
	position:relative;
}
.contentd4 .cont4-top{
	height:97px;
	width:600px;
}
.contentd4 .cont4-top img{
	position:absolute;
	top:15px;
	left:21px;
	cursor:pointer;
}
.contentd4 .cont4-top .cont4-top-wenzi{
	position:absolute;
	top:17px;
	left:81px;
	cursor:pointer;
}
.contentd4 .cont4-top .cont4-top-wenzi h4{
	width:130px;
	position:absolute;
	left:1px;
}
.contentd4 .cont4-top .cont4-top-wenzi i.WB_icon_app a{
	background:url(../images/icon.png) no-repeat 0px -53px;
	width:14px;
	height:14px;
	display:inline-block;
	position:absolute;
	left:130px;
	top:4px;
}
.contentd4 .cont4-top .cont4-top-wenzi i.WB_icon_member6 a{
	background:url(../images/icon.png) no-repeat -27px -125px;
	width:14px;
	height:14px;
	display:inline-block;
	position:absolute;
	left:150px;
	top:2px;
}
.contentd4 .cont4-top .cont4-top-wenzi i.WB_icon_airball a{
	background:url(../images/icon.png) no-repeat -75px -125px;
	width:14px;
	height:14px;
	display:inline-block;
	position:absolute;
	left:170px;
	top:2px;
}
.contentd4 .cont4-top .cont4-top-wenzi p{
	width:280px;
	color:#8C7C84;
	position:absolute;
	top:22px;
}
.contentd4 .cont4-top .cont4-top-wenzi p a{
	text-decoration:none;
	color:#8C7C84;
}
.contentd4 .cont4-top .cont4-top-wenzi p a:hover{
	color:#EB7350;
}
.contentd4 .cont4-top .cont4-top-wenzi span{
	position:absolute;
	top:2px;
	left:486px;
	font-family:'wbficon';
	color:#7D717F;
}
.contentd4 .cont4-top .cont4-top-wenzi span:hover{
	color:#EB7350;
}
.contentd4 .cont4-cen{
	position:absolute;
	top:60px;
	left:81px;
}
.contentd4 .cont4-cen .cont4-cen-pic li{
	float:left;
	list-style:none;
	margin-right:2px;
	
}
.contentd4 .cont4-cen .cont4-cen-pic li img{
	width:155px;
	height:155px;
}
.contentd4 .cont4-bot{
	width: 570px;
	height: 30px;
	position:absolute;
	top:400px;
	left: 50px;
}
.contentd4 .cont4-foot{
	position:absolute;
	top:440px;
	width:600px;
	height:40px;
	border-top:1px solid #d9d9d9;
}
.contentd4 .cont4-foot li{
	float:left;
	margin-top:8px;
	float:left;
	width:149px;
	height:25px;
	line-height:25px;
	font-size:14px;
	text-align:center;
	list-style:none;
	border-right:1px solid #D9D9D9;
	color:#808082;
}
.contentd4 .cont4-foot li.cont4-foot-li4{
	border-right:none;
}
.contentd4 .cont4-foot li:hover{
	color:#EB7350;
}
.contentd4 .cont4-foot li span{
	font-family:'wbficon';
}

.cont4_ying{
	width:375px; 
	height:225px;
	background:#fff;
	border:1px solid #ccc;
	position:absolute;
	top:-214px;
	left:-2px;
	z-index:3;
	display:none;
	border-radius:4px;
}
.cont4_ying .cont4_ying_pic img.cont4_ying_pic2{
    position:relative;
	top:-115px;
	left:165px;
	cursor:pointer;
}
.cont4_ying .cont4_ying_pic i.cont4_ying_pic_icon{
	width:20px;
	height:19px;
	display:block;
	background:url(../images/icon.png) no-repeat -50px -26px;
	position:absolute;
	top:43px;
	left:203px;
	z-index:4;
	cursor:pointer;
}
.cont4_ying .cont4_ying_pic p.PChuan{
	position:absolute;
	top:70px;
	left:85px;
	color:#fff;
	font-size:14px;
	cursor:pointer;
}
.cont4_ying .cont4_ying_pic p.PJian{
	position:absolute;
	top:95px;
	left:85px;
	color:#fff;
	font-size:14px;
}
.cont4_ying .cont4_ying_pic span.cont4span1{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/icon.png) no-repeat -100px -50px;
	z-index:4;
	position:absolute;
	top:72px;
	left:259px;
}
.cont4_ying .cont4_ying_pic span.cont4span2{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/icon.png) no-repeat -25px -76px;
	z-index:4;
	position:absolute;
	top:74px;
	left:282px;
	cursor:pointer;
}
.cont4_ying .cont4_ying_pic span.cont4span3{
	width:16px;
	height:16px;
	display:block;
	background:url(../images/icon.png) no-repeat -74px -125px;
	z-index:4;
	position:absolute;
	top:76px;
	left:303px;
	cursor:pointer;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li{
	list-style:none;
	position:absolute;
	top:130px;
	font-size:14px;
	border-right:1px solid #ccc;
	padding-right:8px;
	font-weight:600;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li a{
	text-decoration:none;
	color:#333;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li a span:hover{
	color:#F76E25;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li.li1{
	position:absolute;
	left:80px;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li.li2{
	position:absolute;
	left:150px;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi1 li.li3{
	position:absolute;
	right:60px;
	border:none;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi2 a{
	text-decoration:none;
	color:#333;
	font-size:14px;
	position:absolute;
	top:155px;
	left:145px;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi2 a:hover{
	color:#F76E25;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi3 a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi3 a span{
	font-family:'wbficon';
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi3 a.wenzi31{
	position:absolute;
	top:185px;
	left:77px;
	width:80px;
	height:22px;
	border:1px solid #ccc;
	line-height:22px;
	text-align:center;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi3 a.wenzi32{
	position:absolute;
	top:185px;
	left:175px;
	width:80px;
	height:22px;
	border:1px solid #ccc;
	line-height:22px;
	text-align:center;
}
.cont4_ying .cont4_ying_wenzi .cont4_ying_wenzi3 a.wenzi33{
	font-family:'wbficon';
	position:absolute;
	top:185px;
	left:273px;
	width:30px;
	height:22px;
	border:1px solid #ccc;
	line-height:22px;
	text-align:center;
}
.cont4_ying_ying1{
	width:80px;
	height:54px;
	background:#fff;
	position:absolute;
	top:-4px;
	left:76px;
	z-index:10;
	border:1px solid #ccc;
	font-size:14px;
	display:none;
}
.cont4_ying_ying1 li{
	list-style:none;
	height:27px;
	line-height:27px;
	text-align:center;
	cursor:pointer;
}
.cont4_ying_ying1 li:hover{
	color:#F3702B;
	background:#f2f2f5;
}
.cont4_ying_ying3{
	width:100px;
	height:189px;
	background:#fff;
	position:absolute;
	top:-4px;
	left:272px;
	z-index:10;
	border:1px solid #ccc;
	font-size:14px;
	display:none;
}
.cont4_ying_ying3 li{
	height:27px;
	line-height:27px;
	list-style:none;
	padding-left:10px;
	color:#333;
	cursor:pointer;
}
.cont4_ying_ying3 li:hover{
	color:#F3702B;
	background:#f2f2f5;
}
.cont4_jian_ying{   /*小箭头的隐藏*/
    width:152px;
	height:135px;
	border:1px solid #ccc;
	position:absolute;
	top:33px;
	left:445px;
	background:#fff;
}
.cont4_jian_ying li{
	height:26px;
	line-height:26px;
	list-style:none;
	font-size:13px;
	padding-left:10px;
	color:#333;
}
.cont4_jian_ying li:hover{
	background:#f2f2f5;
	color:#F66315;
}
/*内容content4隐藏的点击事件结束*/
/*内容的内容结束*/

.contentd6{
	width:600px;
	height:540px;
	background:#fff;
	position:relative;
	float: left;
	margin-top:10px;
	border-radius:5px;
}
.contentd6 .cont6-top img.cont6pic{
	position:absolute;
	top:16px;
	left:21px;
}
.contentd6 .cont6-top .cont6-top-wenzi h4{
	position:absolute;
	top:16px;
	left:78px;
	color:#333;
}
.contentd6 .cont6-top .cont6-top-wenzi p{
	position:absolute;
	top:38px;
	left:78px;
	font-size:14px;
	color:#808080;
}
.contentd6 .cont6-top .cont6-top-wenzi p a{
	text-decoration:none;
	color:#808080;
}
.contentd6 .cont6-top .cont6-top-wenzi p a:hover{
	color:#F5712B;
}
.contentd6 .cont6-top .cont6-top-wenzi span{
	font-family:'wbficon';
	position:absolute;
	top:16px;
	right:22px;
	color:#808080;
}
.contentd6 .cont6-top .cont6-top-wenzi span:hover{
	color:#F5712B;
}
.contentd6 .cont6-cen .WB_text_01{
	position:absolute;
	top:66px;
	left:72px;
	font-size:15px;
	line-height:23px;
	color:#333;
}
.contentd6 .cont6-cen .WB_text_01 a{
	text-decoration:none;
	color:#EB7350;
}
.contentd6 .cont6-cen .WB_text_01 a span{
	font-family:'wbficon';
}
.contentd6 .cont6-cen .WB_text_02{
	position:absolute;
	top:166px;
	left:72px;
	width:500px;
	height:289px;
	background:#F2F2F5;
}
.contentd6 .cont6-cen .WB_text_02 .WB_text_021{
	width:500px;
	height:200px;
}
.contentd6 .cont6-cen .WB_text_02 .WB_text_022{
	position:absolute;
	top:170px;
	left:20px;
	color:#fff;
}
.contentd6 .cont6-cen .WB_text_02 .WB_text_023{
	font-size:24px;
	color:#333;
	position:absolute;
	left:10px;
	line-height:39px;
}
.contentd6 .cont6-cen .WB_text_02 .WB_text_024{
	border-radius:40px;
    height:40px;
	width:40px;
	text-align:center;
    line-height:40px;
    background: rgba(74, 74, 74, 0.8) none repeat;
    position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.contentd6 .cont6-cen .WB_text_02 .WB_text_024 span{
	font-family:'wbficon';
	font-size:20px;
	font-weight:bold;
	color:#fff;
}
.contentd6 .cont6-bot{
	width: 600px;
	height: 40px;
	position:absolute;
	top:460px;
	left: 40px;
}
.contentd6 .cont6-foot{
	position:absolute;
	bottom:0px;
	width:600px;
	border-top:1px solid #D9D9D9;
}
.contentd6 .cont6-foot li{
	list-style:none;
	margin:8px 0px;
	height:20px;
	border-right:1px solid #d9d9d9;
	float:left;
	width:149px;
	text-align:center;
	font-size:14px;
	color:#333;
}
.contentd6 .cont6-foot li.cont6-foot-li6{
	border:none;
}
.contentd6 .cont6-foot li span{
	font-family:'wbficon';
	padding-right:2px;
}
.contentd6 .cont6-foot li:hover{
	color:#F5712B;
}

#content .content_right{
	float:left;
	position:absolute;
	left:760px;
	width:230px;
}
#content .content_right .content4{
	height:36px;
	width:230px;
	background-color:#fff;
	border-radius:2px;
	float:left;
	margin-top: 16px;
}
#content .content_right .content4 a{
	height:36px;
	width:210px;
	line-height: 36px ;
	font-size: 13px;
	color: #EB7350;
	float: left;
	margin-left: 10px;
}
#content .content_right .content4 a span{
	display: black;
	float: left;
	width: 25px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -95px -90px ;
}
#content .content_right .content5{
	height:214px;
	width:230px;
	background-color:#fff;
	border-radius:2px;
	float:left;
	margin-top:10px;
}
#content .content_right .content5 .content5_1,#content .content_right .content6 .content6_1{
	width: 198px;
	height: 38px;
	float: left;
	padding: 0px 16px;
	border-bottom: 1px solid #ccc;
}
#content .content_right .content5 .content5_1 h5,#content .content_right .content6 .content6_1 h5{
	line-height: 38px;
}
#content .content_right .content5 .content5_2 .content5_3{
	float: left;
	padding: 16px 16px 0px 16px ;
	font-size: 12px;
	color: #333;
}
#content .content_right .content5 .content5_2 .content5_3 em{
	font-family:'wbficon';
}
#content .content_right .content5 .content5_2 .content5_4{
	float: left;
	padding: 5px 16px 0px 16px;
	font-size: 12px;
	color: #333;
}

#content .content_right .content6{
	height:250px;
	width:230px;
	background-color:#fff;
	border-radius:2px;
	float:left;
	margin-top:10px;
	line-height: 20px;
}
#content .content_right .content6 .content6_2 p{
	float: left;
	padding: 16px 16px 0px 16px ;
	font-size: 12px;
	color: #333;
}
#content .content_right .content6 .content6_2 ul li{
	float: left;
	width: 198px;
	padding: 3px 16px ;
	font-size: 12px;
	color: #333;
	list-style: none;
}
#content .content_right .content6 .content6_2  a{
	font-size: 12px;
	color: #EB7350;
}
#content .content_right .content6 .content6_2 p em{
	width: 20px ;
	height: 20px;
	float: left;
	display: block;
	background: url(../images/icon.png) no-repeat -50px -220px;
}

/*内容右边的一个回到顶部事件*/
.To-Top a{
	font-family:'wbficon';
	text-decoration:none;
	font-size:18px;
	color:#fff;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	background:#73BBE2;
	display:inline-block;
	position:absolute;
	bottom:40px;
	right:135px;
	position:fixed;
}
/*内容右边的一个回到顶部事件结束*/

/*网页右边底下的私信聊天*/
.RB-PriChat{
	height:40px;
	width:288px;
	background:#EDF0F4;
	display:inline-block;
	position:absolute;
	bottom:0px;
	right:0px;
	border-radius:5px;
	position:fixed;
	z-index:10;
}
.RB-PriChat span{
	background:url(../images/webim_icon.png) no-repeat 0px -22px;
	width:18px;
	height:15px;
	display:inline-block;
	margin:13px 20px;
}
.RB-PriChat b{
	font-size:14px;
	position:absolute;
	top:10px;
	font-weight:400;
	color:#333;
}
.RB-PriChat .PriChat1{
	width:38px;
	height:38px;
	background:#FF8140;
	display:inline-block;
	position:absolute;
	right:10px;
	top:2px;
}
.RB-PriChat .PriChat1 em{
	background:url(../images/webchat_icon.png) no-repeat 0px 0px;
	width:22px;
	height:16px;
	display:inline-block;
	position:absolute;
	top:10px;
	left:10px;
}
/*网页右边底下的私信聊天结束*/


/*脚注部分开始*/
#foot{
	height:300px;
	width:100%;
	background:#FFF;
	position:absolute;
	bottom:-1078px;
}
#foot .foot-top{
	height:160px;
	width:100%;
	background:#FFF;
	
}
#foot .foot-top .splendid-WB{
	width:120px;
	float:left;
	margin-left:255px;
	margin-top:25px;
}
#foot .foot-top .splendid-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .splendid-WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
}
#foot .foot-top .splendid-WB a:hover{
	color:#FF6600;
}
#foot .foot-top .splendid-WB a.a1{
	float:left;
	width:50px;
	margin-right:20px;
}
#foot .foot-top .splendid-WB a.a2{
	float:left;
}

#foot .foot-top .phone-WB{
	float:left;
	margin-left:90px;
	margin-top:25px;
}
#foot .foot-top .phone-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .phone-WB a{
	width:110px;
	display:inline-block;
	text-decoration:none;
	font-size:12px;
	color:#808080;
	position:relative;
	top:-45px;
	left:5px;
}
#foot .foot-top .phone-WB a:hover{
	color:#FF6600;
}

#foot .foot-top .authenticate_WB{
	float:left;
	width:143px;
	margin-left:70px;
	margin-top:25px;
}
#foot .foot-top .authenticate_WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .authenticate_WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
}
#foot .foot-top .authenticate_WB a:hover{
	color:#FF6600;
}
#foot .foot-top .authenticate_WB a.a1{
	float:left;
	width:60px;
	margin-right:20px;
}
#foot .foot-top .authenticate_WB a.a2{
	float:left;
}

#foot .foot-top .help-WB{
	width:70px;
	float:left;
	margin-left:70px;
	margin-top:25px;	
}
#foot .foot-top .help-WB p{
	font-size:16px;
	color:#333;
	margin-bottom:10px;
}
#foot .foot-top .help-WB a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	line-height:24px;
    float:left;
}
#foot .foot-top .help-WB a:hover{
	color:#FF6600;
}

#foot .foot-bottom{
	height:140px;
	background-color:#F6F6F6;
}
#foot .foot-bottom .notice{
	text-align:center;
	position:relative;
	top:25px;
}
#foot .foot-bottom .notice a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	margin-right:15px;
}
#foot .foot-bottom .notice a:hover{
	color:#FF6600;
}
#foot .foot-bottom .notice a img{
	position:relative;
	top:2px;
}
#foot .foot-bottom .address{
	text-align:center;
	
	margin-top:30px;
}
#foot .foot-bottom .address a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
}
#foot .foot-bottom .address a:hover{
	color:#FF6600;
}

#foot .foot-bottom .copyright{
	text-align:center;
}
#foot .foot-bottom .copyright p{
	display:inline-block;
	font-size:12px;
	color:#808080;
}
#foot .foot-bottom .copyright a{
	text-decoration:none;
	font-size:12px;
	color:#808080;
	margin-left:10px;
}
#foot .foot-bottom .copyright a:hover{
	color:#FF6600;
}
#foot .foot-bottom .copyright a img{
	position:relative;
	top:4px;
	right:3px;
}
/*脚注部分结束*/
